
    <div class="wrapper_scroll_sound">
        <section class="section_scroll_sound sticky_sound section--sounds1">
            <video id="desktop_vid" poster="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Open_Ear_air_conduction_Description_desktop_copy.webp?v=1745352867">
                <source src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Open_Ear_air_conduction_Description_desktop_copy.webp?v=1745352867" type="video/mp4">
            </video>
        
            <video id="mobile_vid" poster="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Open_Ear_air_conduction_Description_mobile.webp?v=1745352866">
                <source src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Open_Ear_air_conduction_Description_mobile.webp?v=1745352866" type="video/mp4">
            </video>
        </section>
        <section class="section_scroll_sound sticky_sound section--sounds2">
          <div class="caption_scroll_sound">
            <div class="contents_2_sound">
                <h2 class="">Air Conduction Technology</h2>
                <p style="color: #c2c2c2;text-align: center;">Stay aware of your surroundings while enjoying rich, open-ear audio. <br>Air conduction tech keeps your ears open and comfortable — no ear fatigue, no isolation.</p>
            </div>
          </div>
        </section>
      </div>
    

   <style>
        .wrapper_scroll_sound{margin:0;padding:0;font-size:18px;line-height:1.9em;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"}
        .wrapper_scroll_sound{width:100%;background:url('');background-size:cover;background-attachment:fixed;z-index:1}
        .section_scroll_sound{width:100%;box-sizing:border-box;position:relative;z-index:99}
        .wrapper_scroll_sound .sticky_sound{min-height:100vh;max-height:100vh;height:100vh;position:-webkit-sticky;position:sticky;top:20px;z-index:9;overflow: hidden;}
        .section_scroll_sound{color:#fff}
        .section--sounds1{top:20px;max-height:calc(100vh - 40px)}
        .section--sounds2{top:40px;max-height:calc(100vh - 80px)}
        #mobile_vid{display:none}
        .section_scroll_sound video{width:100%;object-fit:cover;position:relative;height: 100%;filter: brightness(0.5);}
        .caption_scroll_sound{display:flex;justify-content:center;align-items:center;height:100%}
        /* .caption_scroll_sound .contents_2_sound{width:400px;position:absolute;right:50px;top:80px} */
        .caption_scroll_sound .contents_2_sound h2{color: #fff;font-size: 7rem;text-align: center;}
        .caption_scroll_sound .contents_2_sound p{font-size: 18px;}
        
        @media only screen and (max-width:768px){
        #desktop_vid{display:none}
        #mobile_vid{display:block}
        .caption_scroll_sound .contents_2_sound{width:350px!important;position:absolute!important;right:unset!important;top:190px!important}
        .caption_scroll_sound .contents_2_sound p{width: 100%;text-align: center;color: #d5d5d5;font-size: 17px;}
        .caption_scroll_sound .contents_2_sound h2{color: #fff;font-size: 3rem;text-align: center;margin-bottom: 0px;padding:20px;}
        }
        
        </style>
