  <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p> -->
    <div id="fixed-parent">
      <section class="stacking-slide">
       <!-- <img loading="earger" height="auto" width="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/adv1.webp?v=1700510440"> -->
        <div id="advance-text">
        <p>Maintain Situational Awareness and Safety</p>
        <h2>Always in the Moment</h2>
        </div>
      </section>
      <section class="stacking-slide">
        <img loading="earger" height="auto" width="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/wfh.webp?v=1701380232">

         <div class="centered" hdt-reveal="slide-in" style="opacity: 1;">
  <div class="title">
    Work from office
  </div>
  <div class="content">
    Noise-cancelling boom mic for crystal clear calls.
  </div>
</div>
        
      </section>
      <section class="stacking-slide">
        <img loading="earger" height="auto" width="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/otl.webp?v=1701380450">
 <div class="centered" hdt-reveal="slide-in" style="opacity: 1;">
  <div class="title">
    Online teaching
  </div>
  <div class="content">
    Teach with clarity & precision.
  </div>
</div>
        
      </section>
      <section class="stacking-slide">
        <img loading="earger" height="auto" width="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/tg.webp?v=1701380681">
     <div class="centered" hdt-reveal="slide-in" style="bottom: -122px;opacity: 1;">
  <div class="title">
    Situational Awareness 
  </div>
  <div class="content">
    Stay connected, stay aware by attending calls anywhere, anytime.
  </div>
</div>  
      </section>
      <!-- <section class="stacking-slide">
        <img loading="earger" height="auto" width="auto" src="https://shokz.com/cdn/shop/files/SHOKZ_UK_1_OpenFit_BG_Home_1_1-tuya.png?v=1686036145">
      </section> -->
    </div>

  <div id="fixed-parent2">
      <section class="stacking-slide">
        <!-- <img loading="earger" height="auto" width="auto" style="object-fit: contain;" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/advm1.webp?v=1700511014"> -->
     
        <div id="advance-text2">
        <p>Maintain Situational Awareness and Safety</p>
        <h2>Always in the Moment</h2>
        </div> 
        
        
        <!-- <div class="centered" hdt-reveal="slide-in" style="opacity: 1;">
  <div class="title">
    Sports
  </div>
  <div class="content">
    Keep safe with improved awareness of pedestrians and traffic.<sup>5</sup>
  </div>
</div> -->
      </section>
      <section class="stacking-slide">
        <img loading="earger" height="auto" width="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/v121.webp?v=1701781931">
     <div class="centered" hdt-reveal="slide-in" style="opacity: 1;">
  <div class="title">
    Work from office
  </div>
  <div class="content">
    Noise-cancelling boom mic for crystal clear calls.
  </div>
</div>
      </section>
      <section class="stacking-slide">
        <img loading="earger" height="auto" width="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/v1161.webp?v=1701781931">
     <div class="centered" hdt-reveal="slide-in" style="opacity: 1;">
  <div class="title">
    Online teaching
  </div>
  <div class="content">
    Teach with clarity & precision.
  </div>
</div>
      </section>
      <section class="stacking-slide">
        <img loading="earger" height="auto" width="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/v11_662.webp?v=1701781931">
 <div class="centered" hdt-reveal="slide-in" style="bottom: 0px;opacity: 1;">
  <div class="title">
    Situational Awareness 
  </div>
  <div class="content">
   Stay connected, stay aware by attending calls anywhere, anytime.
  </div>
</div>     
      </section>
      <!-- <section class="stacking-slide">
        <img loading="earger" height="auto" width="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/v11.webp?v=1699272062">
 <div class="centered" hdt-reveal="slide-in" style="bottom: 0px;opacity: 1;">
  <div class="title">
    Sports
  </div>
  <div class="content">
    Keep safe with improved awareness of pedestrians and traffic.<sup>5</sup>
  </div>
</div>
      </section> -->
    </div>

    
    <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->

    <style>
#fixed-parent .stacking-slide #advance-text{display:grid;justify-content:center;align-items:center;position:relative;top:30%;text-align:center;line-height:50px}
#fixed-parent .stacking-slide #advance-text p{font-size:30px}
#fixed-parent .stacking-slide #advance-text h2{font-size:60px;color:#606163;
/* background-image:-webkit-linear-gradient(92deg,#f35626,#feab3a);-webkit-background-clip:text;-webkit-text-fill-color:transparent;-webkit-animation:hue 10s infinite linear */
}
/* @-webkit-keyframes hue{
from{-webkit-filter:hue-rotate(0deg)}
to{-webkit-filter:hue-rotate(-360deg)}
} */
.stacking-slide{height:100vh;width:100%;position:sticky;top:0}
.stacking-slide:nth-last-child(1){height:78vh}
.stacking-slide img{border-radius: 5px;width:100%}
.stacking-slide{border-radius: 5px;
/* box-shadow:0 0 50px -12px rgba(0,0,0,.25) */
}
.stacking-slide:nth-child(0){background-color:#fff}
.stacking-slide:first-child{background-color:#fff}
.stacking-slide:nth-child(2){background-color:#fff}
.stacking-slide:nth-child(3){background-color:#fff}
.stacking-slide:nth-child(4){background-color:#fff}
#fixed-parent{position:relative;padding:3rem}
#fixed-parent2{position:relative;padding:3rem;display:none}

.centered{padding: 0px 10px 20px 10px;background:linear-gradient(180deg,rgba(0,0,0,0) 0,rgba(0,0,0,.5) 100%);border-radius:6px;position:absolute;width:100%;bottom:80px;height:44.4444%;display:flex;flex-direction:column;justify-content:flex-end;align-items:center;padding-bottom:3.167vw;color:#fff;opacity:0;text-align:center;transition:all .8s ease}
.centered .title{font-size:28px;margin-bottom:30px}
.centered .content{font-size:14px}       
      
@media only screen and (max-width:768px){
#fixed-parent2 .stacking-slide #advance-text2{display:grid;justify-content:center;align-items:center;position:relative;top:30%;text-align:center;line-height:50px}
#fixed-parent2 .stacking-slide #advance-text2 p{font-size:30px}
#fixed-parent2 .stacking-slide #advance-text2 h2{font-size:55px;color:#606163;
/* background-image:-webkit-linear-gradient(92deg,#f35626,#feab3a);-webkit-background-clip:text;-webkit-text-fill-color:transparent;-webkit-animation:hue 10s infinite linear */
}
/* @-webkit-keyframes hue{
from{-webkit-filter:hue-rotate(0deg)}
to{-webkit-filter:hue-rotate(-360deg)}
} */
  
#fixed-parent{position:relative;padding:1rem;display:none}
#fixed-parent2{position:relative;padding:0rem;display:block}
.centered{padding: 0px 10px 20px 10px;background:linear-gradient(180deg,rgba(0,0,0,0) 0,rgba(0,0,0,.5) 100%);border-radius:6px;position:absolute;width:100%;bottom:100px;height:44.4444%;display:flex;flex-direction:column;justify-content:flex-end;align-items:center;padding-bottom:4.167vw;color:#fff;opacity:0;text-align:center;transition:all .8s ease}
.centered .title{font-size:28px;margin-bottom:20px}
.centered .content{margin-bottom: 70px;font-size:14px}  
.stacking-slide img{object-fit: cover;border-radius: 5px;width:100%;height:100%;}
}      
</style>