<div class="t4s-container" style="padding-top:30px;">
<div timeline="" hdt-reveal="slide-in" class="t4s-top-heading t4s-text-center" observed="" style="--animation-order: 0;">
<div id="t4s_title_ap" timeline="" hdt-reveal="slide-in" class="t4s-top-heading-heading t4s_des_title_9 t4s-text-center" observed="" style="--animation-order: 0;">
 <h3 class="t4s-section-title t4s-title" style="color:#DDDFE0;"><span>Applications</span></h3>
<!-- <p style="margin-top: 15px;">Audio playback and calls can be controlled directly on the built-in touchpads, <br>truly freeing your hands without additional phone operation.</p> -->
</div></div></div>

<div class="Marquee">
  <div class="Marquee-content">
    <div class="Marquee-tag">
      <img width="auto" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Work.webp?v=1723463679">
    </div>
    <div class="Marquee-tag">
       <img width="auto" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/On_road_1.webp?v=1723542065">
    </div>
    <div class="Marquee-tag">
       <img width="auto" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Calling.webp?v=1723463679">
    </div>
    <div class="Marquee-tag">
       <img width="auto" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Gaming.webp?v=1723463678">
    </div>
    <div class="Marquee-tag">
       <img width="auto" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Workout.webp?v=1723463678">
    </div>
     <div class="Marquee-tag">
      <img width="auto" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Work.webp?v=1723463679">
    </div>
    <div class="Marquee-tag">
       <img width="auto" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/On_road_1.webp?v=1723542065">
    </div>
    <div class="Marquee-tag">
       <img width="auto" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Calling.webp?v=1723463679">
    </div>
    <div class="Marquee-tag">
       <img width="auto" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Gaming.webp?v=1723463678">
    </div>
    <div class="Marquee-tag">
       <img width="auto" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Workout.webp?v=1723463678">
    </div>
    <div class="Marquee-tag">
      <img width="auto" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Work.webp?v=1723463679">
    </div>
    <div class="Marquee-tag">
       <img width="auto" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/On_road_1.webp?v=1723542065">
    </div>
  </div>
</div>

<style>

  #t4s_title_ap h3 {
    font-size: 10rem;
    font-weight: 700;
}

.Marquee {
  width: 85vw;
  box-sizing: border-box;
  padding: 1em;
  color: #fff;
  font-weight: 200;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100vw;
  margin-top: -45px;
}
.Marquee-content {
  display: flex;
  animation: marquee 20s linear infinite running;
}
.Marquee-content:hover {
  animation-play-state: paused;
}
.Marquee-tag {
  width: 200px;
  margin: 0 0.5em;
  padding: 0.5em;
  background: rgba(255,255,255,0.1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}
.Marquee-tag:hover {
  background: rgba(255,255,255,0.5);
  transform: scale(1.1);
  cursor: pointer;
}
@-moz-keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translate(-50%);
  }
}
@-webkit-keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translate(-50%);
  }
}
@-o-keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translate(-50%);
  }
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translate(-50%);
  }
}

   @media only screen and (max-width: 768px) {

  #t4s_title_ap h3 {
    font-size: 5rem;
    font-weight: 700;
}
     .Marquee {
  margin-top: -35px;
}

     .Marquee-tag {
    width: 300px;
}
     
   }
  
</style>