<div class="grid">
  
    <div class="grid__item grid__item_item4">
      <a href="#section1" data-rel=".click_content_1" class="open_popup">
      <div class="cont-box1" >
        <div class="image-box1">
          <img loading="earger" height="auto" width="auto"src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/feature_6_hours_battery.webp?v=1761985583">
        </div>
        <div class="text-box">
          <h2>6 HRS Battery life</h2>
        </div>
      </div>
         </a>
    </div>
 
  
    <div class="grid__item grid__item_item5">
      <a href="#section2" data-rel=".click_content_2" class="open_popup">
      <div class="cont-box2" >
        <div class="text-box">
          <h2>Phone Holder</h2>
        </div>
        <div class="image-box2">
          <img loading="earger" height="auto" width="auto"src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/feature_Phone_Holder.webp?v=1761985583">
        </div>
      </div>
        </a>
    </div>
   
 
    <div class="grid__item grid__item_item6">
       <a href="#section5" data-rel=".click_content_5" class="open_popup">
      <div class="cont-box3" >
        <div class="image-box5">
          <img loading="earger" height="auto" width="auto"src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/feature_TWS_Dual_speaker_mode.webp?v=1761985583">
        </div>
        <div class="text-box">
          <h2>TWS Pairing</h2>
        </div>
      </div>
          </a> 
    </div>
 
 
    <div class="grid__item grid__item_item7">
       <a href="#section3" data-rel=".click_content_3" class="open_popup">
      <div class="cont-box4" >
        <div class="text-box">
          <h2>Bluetooth, MIC, AUX, USB ,TF Card input</h2>
        </div>
        <div class="image-box3">
          <img loading="earger" height="auto" width="auto"src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/feature_Blutoth_mic_aux_utb.etc..webp?v=1761985583">
        </div>
      </div>
          </a>
    </div>
   
  
    <div class="grid__item grid__item_item10">
      <a href="#section4" data-rel=".click_content_4" class="open_popup">
      <div class="cont-box5" >
        <div class="text-box" style="margin-bottom: 75px;">
          <h2>Type C Charging port</h2>
        </div>
        <div class="image-box4">
          <img loading="earger" height="auto" width="auto"src="">
        </div>
      </div>
         </a>
    </div>
   
  </div>

<div id="section1" class="click_content_1 contentBox">
<div class="container-t">
  <div class="card" data-label="#1">
    <div class="card__container">
        <h2 class="card__header">
        8 HRS Battery life
      </h2>
      <p class="card__body">
        Experience All-Day Connectivity with 8-Hour Battery Life, Just 1 Hour to Full Charge, Perfect for Calls, Music, Audiobooks, and Podcasts.
      </p>  
    </div>
  </div>
</div>
</div>

<div id="section2" class="click_content_2 contentBox">
 <div class="container-t">
  <div class="card" data-label="#2">
    <div class="card__container">
        <h2 class="card__header">
        Light Weight
      </h2>
      <p class="card__body">
        Featherlight at 24g, Experience Effortless Comfort with NG EarSafe.
      </p>  
    </div>
  </div>
</div>
</div>


<div id="section3" class="click_content_3 contentBox">
 <div class="container-t">
  <div class="card" data-label="#3">
    <div class="card__container">
        <h2 class="card__header">
       360° Bend
      </h2>
      <p class="card__body">
        Stay Active with NG EarSafe: 360° Bending Titanium Alloy Wraparound Ensures a Snug Fit for Yoga, Dance, and Outdoor Adventures.
      </p>  
    </div>
  </div>
</div>
</div>


<div id="section4" class="click_content_4 contentBox">
   <div class="container-t">
  <div class="card" data-label="#4">
    <div class="card__container">
        <h2 class="card__header">
       Voice Assistance
      </h2>
      <p class="card__body">
       Effortless Updates: A Single Button Press for Weather, News, and Scores. Activate Google & Siri with a 3-Second Hold on the Lower Volume Button.
      </p>  
    </div>
  </div>
</div>
</div>

<div id="section5" class="click_content_5 contentBox">
    <div class="container-t">
  <div class="card" data-label="#5">
    <div class="card__container">
        <h2 class="card__header">
      Bluetooth 5.0
      </h2>
      <p class="card__body">
       Zero Interruptions, Pure Audio: Powered by the Latest Bluetooth 5.0 Chipset, NG EarSafe Offers Lag-Free Connectivity Across iOS, Android, Windows, and Mac.
      </p>  
    </div>
  </div>
</div>
</div>

<div id="section6" class="click_content_6 contentBox">
     <div class="container-t">
  <div class="card" data-label="#6">
    <div class="card__container">
        <h2 class="card__header">
      Ecological Diaphragm Speakers
          
      </h2>
      <p class="card__body">
       Enhanced diaphragm driver lets you enjoy music with clear sound, powerful volume and a rich bass.
      </p>  
    </div>
  </div>
</div>
</div>

<style>
.grid{display:grid;grid-template-columns:repeat(12,[col] 1fr);grid-template-rows:repeat(5,[row] auto);grid-column-gap:1em;grid-row-gap:15px;margin:0;}
.grid__item{text-transform:capitalize;font-size:14px;border-radius:10px}
.grid__item_item1{grid-column:col/span 4;grid-row:row}
.grid__item_item2{grid-column:col 5/span 4;grid-row:row}
.grid__item_item3{grid-column:col 9/span 4;grid-row:row}
.grid__item_item4{grid-column:col/span 5;grid-row:row 2;box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);border: 1px solid #b9d44138;background:linear-gradient(90deg,rgba(135,167,223,.45) 0,rgba(207,222,243,.39) 100%)}
.grid__item_item5{grid-column:col 6/span 4;grid-row:row 2;box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);border: 1px solid #b9d44138;background:linear-gradient(76.83deg,rgba(138,138,174,.14) -1.3%,rgba(244,212,220,.39) 90.52%)}
.grid__item_item6{grid-column:col 4/span 4;grid-row:row 3;box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);border: 1px solid #b9d44138;background:linear-gradient(76.83deg,rgba(138,138,174,.14) -1.3%,rgba(244,212,220,.39) 90.52%)}
.grid__item_item7{grid-column:col 10/span 3;grid-row:row 2;box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);border: 1px solid #b9d44138;background:linear-gradient(90deg,rgba(162,161,163,.28) 0,rgba(231,233,187,.5) 100%)}
.grid__item_item10{grid-column:col/span 3;grid-row:row 3;box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);border: 1px solid #b9d44138;background:linear-gradient(90deg,rgba(162,161,163,.28) 0,rgba(231,233,187,.5) 100%)}
.grid__item_item11{grid-column:col 8/span 5;grid-row:row 3;box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);border: 1px solid #b9d44138;background:linear-gradient(90deg,rgba(135,167,223,.45) 0,rgba(207,222,243,.39) 100%)}
.grid__item_item-v1{grid-column:col/span 4;grid-row:row/span 2}
.grid__item_item-v2{grid-column:col 5/span 4;grid-row:row/span 3}
.grid__item_item-v3{grid-column:col 9/span 4;grid-row:row}
.grid__item_item-v4{grid-column:col 9/span 4;grid-row:row 2}
.grid__item_item-v5{grid-column:col/span 3;grid-row:row 3}
.grid__item_item-v6{grid-column:col 4;grid-row:row 3}
.grid__item_item-v7{grid-column:col 9;grid-row:row 3}
.grid__item_item-v8{grid-column:col 10/span 3;grid-row:row 3}
.grid__item_item-v9{grid-column:col/span 6;grid-row:row 4}
.grid__item_item-v10{grid-column:col 7/span 3;grid-row:row 4}
.grid__item_item-v11{grid-column:col 10/span 3;grid-row:row 4}
.grid__item_item-v12{grid-column:col/span 12;grid-row:row 5}
/* .cont-box1{display:flex;align-items:center;justify-content:center;height:100%;overflow:hidden;background:url('https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Group_80.png?v=1698769426');background-size:30px 30px;background-repeat:no-repeat;background-position:top 15px left 15px} */
.cont-box1{display:flex;align-items:center;justify-content:center;height:100%;overflow:hidden;background:url('https://cdn.shopify.com/s/files/1/0804/5762/9975/files/arrow-circle-down-icon-512x512-5bdxqfue.png?v=1701874765');background-size:25px 25px;background-repeat:no-repeat;background-position:top 15px left 15px}
  .cont-box2{display:flex;align-items:center;justify-content:center;height:100%;overflow:hidden;background:url('https://cdn.shopify.com/s/files/1/0804/5762/9975/files/arrow-circle-down-icon-512x512-5bdxqfue.png?v=1701874765');background-size:25px 25px;background-repeat:no-repeat;background-position:top 15px left 15px}
.cont-box3{display:flex;align-items:center;justify-content:center;height:100%;overflow:hidden;background:url('https://cdn.shopify.com/s/files/1/0804/5762/9975/files/arrow-circle-down-icon-512x512-5bdxqfue.png?v=1701874765');background-size:25px 25px;background-repeat:no-repeat;background-position:bottom 15px left 15px}
.cont-box4{display:flex;align-items:center;justify-content:center;height:100%;overflow:hidden;background:url('https://cdn.shopify.com/s/files/1/0804/5762/9975/files/arrow-circle-down-icon-512x512-5bdxqfue.png?v=1701874765');background-size:25px 25px;background-repeat:no-repeat;background-position:top 15px left 15px}
/* .cont-box5{display:flex;align-items:center;justify-content:center;height:100%;overflow:hidden;background:url('https://cdn.shopify.com/s/files/1/0804/5762/9975/files/arrow-circle-down-icon-512x512-5bdxqfue.png?v=1701874765');background-size:25px 25px;background-repeat:no-repeat;background-position:bottom 15px left 15px} */
  .cont-box5{display:flex;align-items:center;justify-content:center;height:100%;overflow:hidden;background-image:url(https://cdn.shopify.com/s/files/1/0804/5762/9975/files/arrow-circle-down-icon-512x512-5bdxqfue.png?v=1701874765),url(https://cdn.shopify.com/s/files/1/0804/5762/9975/files/voiceogjghjgksiri.webp?v=1701717961);background-size:20px 20px,34%;background-repeat:no-repeat;background-position:bottom 10px left 10px,top 10px right 10px}
.cont-box6{display:flex;align-items:center;justify-content:center;height:100%;overflow:hidden;background:url('https://cdn.shopify.com/s/files/1/0804/5762/9975/files/arrow-circle-down-icon-512x512-5bdxqfue.png?v=1701874765');background-size:25px 25px;background-repeat:no-repeat;background-position:bottom 15px left 15px}
/* .image-box2 img{max-width:100%;max-height:100%;margin-top:10px} */
.image-box2 img{max-width:100%;max-height:100%;margin-top:25px;margin-left:25px;scale:1;rotate:-10deg}  
.image-box1 img{max-width:100%;max-height:100%;rotate:60deg;margin-top:60px;scale:1.1;margin-left:50px}
/* .image-box3 img{max-width:100%;max-height:100%;rotate:70deg;margin-top:0;scale:1.3;margin-left:0} */
.image-box3 img{max-width:100%;max-height:100%;rotate:0deg;margin-top:90px;scale:1.95;margin-left:-60px}  
.image-box4 img{max-width:100%;max-height:100%;margin-top:140px;scale:2.5;margin-left:-70px}
/* .image-box5 img{max-width:100%;max-height:100%;margin-top:35px;scale:1.2;margin-left:0;-webkit-transform:scaleX(-1);transform:scaleX(-1)} */
  .image-box5 img {
    max-width: 100%;
    max-height: 100%;
    margin-top: 0px;
    scale: 1;
    margin-left: -10px;
    rotate: 20deg;
}
.image-box6 img{max-width:100%;max-height:100%;margin-top:75px;scale:1.2;margin-right:0}
.text-box h2{font-size:22px !important;padding:20px;text-align:center}
.contentBox {
    display: none;
}  

.container-t {
	 /* width: 100vw;
	 height: 100vh; */
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 /* background: #f3f3f3; */
}
 .card {
	 width: 100%;
	 border-radius: 1rem;
	 background: white;
	 box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
	 position: relative;
	 color: #434343;
}
 .card .card__container {
	 padding: 2rem;
	 width: 100%;
	 height: 100%;
	 background: white;
	 border-radius: 1rem;
	 position: relative;
}
 .card .card__header {
	 margin-bottom: 1rem;
   margin-top: 4rem;
       font-size: 25px;
}
 .card::before {
	 position: absolute;
	 top: 3rem;
left: -0.9rem;
	 content: '';
background: linear-gradient(90deg,rgb(99 187 71) 0,rgb(31 139 176) 100%);
	 height: 28px;
	 width: 28px;
	 transform: rotate(45deg);
}
 .card::after {
	 position: absolute;
	 content: attr(data-label);
	 top: 11px;
    left: -15px;
	 padding: 0.5rem;
	 width: 10rem;
	    background: linear-gradient(90deg,rgb(99 187 71) 0,rgb(31 139 176) 100%);
	 color: white;
	 text-align: center;
	 box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
}
 
  
@media only screen and (max-width:768px){
.grid__item{border-radius:5px} 
.grid{display:grid;grid-template-columns:repeat(12,[col] 1fr);grid-template-rows:repeat(5,[row] auto);grid-column-gap:0.5em;grid-row-gap:8px;margin:0}
.text-box h2{font-size:14px !important;padding:20px;text-align:center}
.grid__item_item4{grid-column:col/span 6;grid-row:row 2;box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);border: 1px solid #b9d44138;background:linear-gradient(90deg,rgba(135,167,223,.45) 0,rgba(207,222,243,.39) 100%)}
.grid__item_item5{grid-column:col 7/span 9;grid-row:row 2;box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);border: 1px solid #b9d44138;background:linear-gradient(76.83deg,rgba(138,138,174,.14) -1.3%,rgba(244,212,220,.39) 90.52%)}
.grid__item_item6{grid-column:col 1/span 8;grid-row:row 3;box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);border: 1px solid #b9d44138;background:linear-gradient(76.83deg,rgba(138,138,174,.14) -1.3%,rgba(244,212,220,.39) 90.52%)}
.grid__item_item7{grid-column:col 9/span 7;grid-row:row 3;box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);border: 1px solid #b9d44138;background:linear-gradient(90deg,rgba(162,161,163,.28) 0,rgba(231,233,187,.5) 100%)}
.grid__item_item10{grid-column:col/span 6;grid-row:row 4;box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);border: 1px solid #b9d44138;background:linear-gradient(90deg,rgba(162,161,163,.28) 0,rgba(231,233,187,.5) 100%)}
.grid__item_item11{grid-column:col 7/span 9;grid-row:row 4;box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);border: 1px solid #b9d44138;background:linear-gradient(90deg,rgba(135,167,223,.45) 0,rgba(207,222,243,.39) 100%)}
/* .cont-box1,.cont-box2,.cont-box3,.cont-box4,.cont-box5,.cont-box6{background:0 0} */

.cont-box1{display:flex;align-items:center;justify-content:center;height:100%;overflow:hidden;background:url('https://cdn.shopify.com/s/files/1/0804/5762/9975/files/arrow-circle-down-icon-512x512-5bdxqfue.png?v=1701874765');background-size:20px 20px;background-repeat:no-repeat;background-position:bottom 10px left 10px}  
.cont-box2{display:flex;align-items:center;justify-content:center;height:100%;overflow:hidden;background:url('https://cdn.shopify.com/s/files/1/0804/5762/9975/files/arrow-circle-down-icon-512x512-5bdxqfue.png?v=1701874765');background-size:20px 20px;background-repeat:no-repeat;background-position:bottom 10px left 10px}
  .cont-box3{display:flex;align-items:center;justify-content:center;height:100%;overflow:hidden;background:url('https://cdn.shopify.com/s/files/1/0804/5762/9975/files/arrow-circle-down-icon-512x512-5bdxqfue.png?v=1701874765');background-size:20px 20px;background-repeat:no-repeat;background-position:bottom 10px left 10px}
  .cont-box4{display:flex;align-items:center;justify-content:center;height:100%;overflow:hidden;background:url('https://cdn.shopify.com/s/files/1/0804/5762/9975/files/arrow-circle-down-icon-512x512-5bdxqfue.png?v=1701874765');background-size:20px 20px;background-repeat:no-repeat;background-position:bottom 10px left 10px}
  .cont-box5{display:flex;align-items:center;justify-content:center;height:100%;overflow:hidden;background-image:url(https://cdn.shopify.com/s/files/1/0804/5762/9975/files/arrow-circle-down-icon-512x512-5bdxqfue.png?v=1701874765),url(https://cdn.shopify.com/s/files/1/0804/5762/9975/files/voiceogjghjgksiri.webp?v=1701717961);background-size:20px 20px,34%;background-repeat:no-repeat;background-position:bottom 10px left 10px,top 10px right 10px}
  .cont-box6{display:flex;align-items:center;justify-content:center;height:100%;overflow:hidden;background:url('https://cdn.shopify.com/s/files/1/0804/5762/9975/files/arrow-circle-down-icon-512x512-5bdxqfue.png?v=1701874765');background-size:20px 20px;background-repeat:no-repeat;background-position:bottom 10px left 10px}
  
.image-box1 img{max-width:100%;max-height:100%;rotate:60deg;margin-top:60px;scale:2.5;margin-left:50px}
/* .image-box5 img{max-width:100%;max-height:100%;margin-top:35px;scale:1.6;margin-left:0;-webkit-transform:scaleX(-1);transform:scaleX(-1)} */
 .image-box5 img {
    max-width: 100%;
    max-height: 100%;
    margin-top: 13px;
    scale: 1.2;
    margin-left: 0;
    margin-bottom: 13px;
} 
  .image-box2 img{max-width:100%;max-height:100%;margin-top:25px;margin-left:-5px;scale:1.2;rotate:-10deg}
/* .image-box3 img{max-width:100%;max-height:100%;rotate:71deg;margin-top:0;scale:2;margin-left:-7px} */
/* .image-box3 img{max-width:100%;max-height:100%;rotate:-12deg;margin-top:93px;scale:3;margin-left:-40px} */
  .image-box3 img{max-width:100%;max-height:100%;rotate:-18deg;margin-top:35px;scale:5;margin-left:-30px}
.image-box4 img{max-width:100%;max-height:100%;margin-top:80px;scale:2.8;margin-left:-50px}
.image-box6 img{max-width:100%;max-height:100%;margin-top:90px;scale:1.8;margin-right:0}
 /* .cont-box5 {
    background: url(https://cdn.shopify.com/s/files/1/0804/5762/9975/files/voiceogjghjgksiri.webp?v=1701717961) !important;
    background-size: 34% !important;
    background-repeat: no-repeat !important;
    background-position: top 8px right 5px !important;
}  */
}
</style>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" ></script>

<script>
  $(".open_popup").click(function() {
    $($(this).data('rel')).show().siblings(".contentBox").hide();
});
</script>

<script>
// Select all »a« elements with a parent class »links« and add a function that is executed on click
$( '.grid__item a' ).on( 'click', function(e){
	
  // Define variable of the clicked »a« element (»this«) and get its href value.
  var href = $(this).attr( 'href' );
  
  // Run a scroll animation to the position of the element which has the same id like the href value.
  $( 'html, body' ).animate({
		scrollTop: $( href ).offset().top
  }, '300' );
	
  // Prevent the browser from showing the attribute name of the clicked link in the address bar
  e.preventDefault();

});
</script>
