
<div class="wrapper_scroll_benefit animation">
<section class="section_scroll_benefit sticky_benefit section--benefits1">
  <div class="container_benefit">
    <div class="text-section">
      <h4 class="anm_mod full delay">Benefits of NG Earsafe</h4>
      <h5 class="anm_mod left fast">Stay Aware of Your Surroundings</h5>
      <p class="anm_mod left fast"> With NG EarSafe Pro Mini, you don’t have to choose between your favorite tunes and staying safe. Our open-ear design powered by Bone Conduction Technology keeps your ears open, allowing you to stay aware of traffic, conversations, and your environment. Perfect for outdoor runs, bike rides, or simply navigating your day safely—hear the world while enjoying your music.
<br><br>
      </p>
    </div>
    <div class="image-section_benefit1 anm_mod right fast"></div>
  </div>
</section>
 <section class="section_scroll_benefit sticky_benefit section--benefits2">
  <div class="container_benefit">
    <div class="text-section">
      <h4 class="anm_mod full delay">Benefits of NG Earsafe</h4>
     <h5 class="anm_mod left fast">Comfortable <br>Open-Ear Fit</h5>
      <p class="anm_mod left fast">Experience superior comfort with an open-ear fit that feels natural and unobtrusive. Perfect for long listening sessions with minimal pressure on your ears.

      </p>
    </div>
    <div class="image-section_benefit2 anm_mod right fast"></div>
  </div>
</section> 
<!-- <section class="section_scroll_benefit sticky_benefit section--benefits3">
  <div class="container_benefit">
    <div class="text-section">
      <h4 class="anm_mod full delay">Benefits of NG Earsafe</h4>
      <h5 class="anm_mod left fast">Prevents In-Ear Infection</h5>
      <p class="anm_mod left fast">Reduce the risk of ear infections due to moisture and bacteria buildup with our breathable open-ear technology. Protect your ears from damage with enhanced airflow, ensuring they remain clean and healthy as you enjoy your music.
      </p>
    </div>
    <div class="image-section_benefit3 anm_mod right fast"></div>
  </div>
</section> -->
</div>

<style>
.container_benefit{display:flex;flex-direction:row;align-items:center;justify-content:end;min-height:100vh;position:relative;background: rgb(19,19,19);background: -moz-linear-gradient(350deg, rgba(19,19,19,1) 0%, rgba(41,44,47,1) 77%);background: -webkit-linear-gradient(350deg, rgba(19,19,19,1) 0%, rgba(41,44,47,1) 77%);background: linear-gradient(350deg, rgba(19,19,19,1) 0%, rgba(41,44,47,1) 77%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#131313",endColorstr="#292c2f",GradientType=1);overflow:hidden}
.text-section{width:65%!important;padding:20px;box-sizing:border-box;z-index:1;text-align:center;position:absolute;left:3%;top:50px}
.text-section h4{font-size:14px;letter-spacing:6px;text-transform:uppercase;color:#9a9a9a;margin-bottom:14px;text-align:left;font-weight:400}
.text-section h5{line-height: 10rem;color: #fff;font-size:70px!important;font-weight:700;margin:0 0 20px;text-align:left}
.text-section p{font-size:18px;line-height:1.6;color:#b3b3b3;width:450px;text-align:left}
.image-section_benefit1{width:60%!important;height:100vh!important;background-image:url('https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Stay_Aware_benefits_desktop_1.webp?v=1739356728');background-size:cover;background-position:center;border-radius:0;position:relative;z-index:0;border-radius:20px 0 0 20px;top:50px}
.image-section_benefit2{width:60%!important;height:100vh!important;background-image:url('https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Open_Ear_Comfort_benefits_desktop_1.webp?v=1739454184');background-size:cover;background-position:center;border-radius:0;position:relative;z-index:0;border-radius:20px 0 0 20px;top:50px}
.image-section_benefit3{width:60%!important;height:100vh!important;background-image:url('https://cdn.shopify.com/s/files/1/0804/5762/9975/files/In_Ear_infection_desktop.webp?v=1725482412');background-size:cover;background-position:center;border-radius:0;position:relative;z-index:0;border-radius:20px 0 0 20px;top:50px}
@media only screen and (max-width:768px){
.container_benefit{flex-direction:column!important;min-height:100vh;}
.text-section{width:100%!important;padding:20px;text-align:left;position:relative!important;left:0;top:0;}
.text-section h5{line-height: 4rem;font-size:30px!important;text-align:center}
.text-section h4{text-align:center}
.text-section p{width:unset!important;text-align:center}
.image-section_benefit1{width:100%!important;height:400px!important;border-radius:20px 20px 0 0;top:0px !important}
.image-section_benefit2{width:100%!important;height:400px!important;border-radius:20px 20px 0 0;top:0px !important}
.image-section_benefit3{width:100%!important;height:400px!important;border-radius:20px 20px 0 0;top:0px !important}
}
.wrapper_scroll_benefit{margin:0;padding:0;font-size:18px;line-height:1.9em;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"}
.wrapper_scroll_benefit{width:100%;background:url('');background-size:cover;background-attachment:fixed;z-index:1}
.section_scroll_benefit{width:100%;box-sizing:border-box;position:relative;z-index:99}
.wrapper_scroll_benefit .sticky_benefit{min-height:100vh;max-height:100vh;height:100vh;position:-webkit-sticky;position:sticky;top:20px;z-index:9;overflow:hidden}
.section_scroll_benefit{color:#fff}
.section--benefits1{top:20px;max-height:calc(100vh - 20px)}
.section--benefits2{top:40px;max-height:calc(100vh - 40px)}
.section--benefits3{top:40px;max-height:calc(100vh - 80px)}


 .animation .anm_mod {
	 opacity: 0;
	 transform: translate3d(0, 100%, 0);
	 transition: all 1s ease;
}
 .animation .anm_mod.left {
	 transform: translate3d(-100%, 0, 0);
}
 .animation .anm_mod.right {
	 transform: translate3d(100%, 0, 0);
}
 .animation .anm_mod.delay {
	 transition: all 2s ease;
}
 .animation .anm_mod.fast {
	 transition: all 0.8 ease;
}
 .animation .anm_mod.active {
	 opacity: 1;
	 transform: translate3d(0, 0, 0);
}
 .org_to_top {
	 position: fixed;
	 bottom: 20px;
	 right: 20px;
}

</style>  



<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js'></script>

<script>
  var $jque = jQuery.noConflict();
  $jque(window).scroll(function() {
 $jque(".animation .anm_mod").each(function() {
  const position = $jque(this).offset().top;
  const scroll = $jque(window).scrollTop();
  const windowHeight = $jque(window).height();
  if (scroll > position - windowHeight) {
   $jque(this).addClass("active");
  }
  if (scroll < 100) {
   $jque(this).removeClass("active");
  }
 });
});

// $jque(function() {
//  $jque('a[href^="#"]:not(.t4s-accor-title)').click(function() {
//   const speed = 800;
//   const href = $jque(this).attr("href");
//   const target = $jque(href == "#" || href == "" ? "html" : href);
//   const position = target.offset().top;
//  $jque("html, body").animate({ scrollTop: position }, speed, "swing");
//   return false;
//  });
// });

</script>