<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css">
   
  
  <div class="main-slick">
        <div class="slider slider-for">
          <div class="slide-img1" data-dot-img="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/bl1.webp?v=1700473797">
            <img loading="earger" height="auto" width="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Black_EarSafe.png?v=1699344807">
          </div>
          <div  class="slide-img1" data-dot-img="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/gr1.webp?v=1700474163"><img loading="earger" height="auto" width="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Green_EarSafe.png?v=1699344808"></div>
          <div  class="slide-img1" data-dot-img="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/rd1.webp?v=1700474252"><img loading="earger" height="auto" width="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Red_EarSafe.png?v=1699344808"></div>
        </div>
      </div>


 <style>

.main-slick{font-family:Arial;display:block;
/* margin-top:-350px !important; */
border-radius: 10px;margin-top:-100px !important;
margin:auto 5%}
.slider-nav h3{background:#000;color:#3498db;font-size:36px;line-height:100px;margin:10px;padding:2%;position:relative;text-align:center}
.main-slick .slider-for{background-image:url('https://cdn.shopify.com/s/files/1/0804/5762/9975/files/col-ava1i.webp?v=1700482408');background-repeat:no-repeat;background-size:contain;background-position:50% 50%;padding:0px}
/* .slide-img1{padding:70px} */
.slide-img1{padding:0px}   
.slide-img1 img{width:70%;display:block;margin:0 auto;rotate:0deg}
#slick-black,#slick-green,#slick-red{height:80px;width:80px!important;margin-right:10px;border:1px solid #7f7f7f;background-color:#fff}
#slick-black img,#slick-green img,#slick-red img{margin:27px auto}
.slick-next:before,.slick-prev:before{font-size:40px;line-height:1;opacity:.75;color:#25313c}  
.slick-dots{top:80%;width:100%;bottom:0;list-style:none;text-align:center}
.slick-dots li button:before{font-size:30px;line-height:20px;position:absolute;top:0;left:0;width:20px;height:20px;content:'•';text-align:center;opacity:.25;color:#000}   
.slick-dots li{position:relative;display:inline-block;width:20px;height:20px;margin:0 5px;padding:0;cursor:pointer}  
.slick-slider {margin-bottom: 0px;}
   @media only screen and (max-width:768px){
.slide-img1{padding:0px}
.slide-img1 img{width:100%}
.main-slick{display:block;
/* margin-top:-250px!important; */
margin-top:-60px!important;
margin:5%}
.slick-next:before,.slick-prev:before{font-size:20px;line-height:1;opacity:.75;color:#25313c}  
}   
/* .slide-img1{-webkit-animation:zoomeffect 10s infinite;-moz-animation:zoomeffect 10s infinite;animation:zoomeffect 10s infinite}
@-webkit-keyframes zoomeffect{
0%{background-position:center;transform:scale(1,1)}
50%{background-position:center;transform:scale(.5,1)}
100%{background-position:center;transform:scale(1,1)}
}
@keyframes zoomeffect{
0%{background-position:center;transform:scale(1,1)}
50%{background-position:center;transform:scale(.5,1)}
100%{background-position:center;transform:scale(1,1)}
} */


.slider .slick-dots li button:before {
  display: block;
  position: relative;
  content: '';
  width: 100%;
  padding-top: 100%;
  height: auto;
}

   .slider .slick-dots li button img {
  display: block;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

   .slider .slick-dots li.slick-active button,
.slider .slick-dots li:hover button {
  opacity: 1;
  transform: scale(1,1);
}

.slider .slick-dots li button {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: auto;
  padding: 0;
  transition: all .5s ease;
  transform: scale(.75,.75);
}

   .slick-dots li {
    width: 40px;
    height: 40px;

}
   
</style>     

 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.ripples/0.5.3/jquery.ripples.min.js"></script>

<script>
//      $('.slider-for').slick({
// slidesToShow: 1,
//         slidesToScroll: 1,
//         dots: true,
//         speed: 300,
//         infinite: true,
//        arrows:false,

//        draggable: true,
//     fade: true,
//     cssEase: 'ease-in-out',
//     touchThreshold: 100,

       
//   prevArrow:'<button type="button" class="slick-prev"></button>',
//   nextArrow:'<button type="button" class="slick-next"></button>',
//         autoplaySpeed: 2000,
//         autoplay: true
//  });

</script>  

<script>

  // my slick slider options
const options = {
  slidesToShow: 1,
  slidesToScroll: 1,
  // speed: 100,
  autoplaySpeed: 1000,
  infinite: true,
  dots: true,
  arrows: false,
  draggable: true,
  fade: true,
  pauseOnHover: false,
  cssEase: 'ease-in-out',
  touchThreshold: 100,
  adaptiveHeight: true,
  autoplay: true
  
};

// my slick slider as const object
const mySlider = $('.slider-for').on('init', function(slick) {

  // set this slider as const for use in set time out
  const slider = this;
    
  // slight delay so init completes render
  setTimeout(function() {

    // dot buttons
    let dots = $('.slick-dots > li > button', slider);

    // each dot button function
    $.each(dots, function(i,e) {

      // slide id
      let slide_id = $(this).attr('aria-controls');
      
      // custom dot image
      let dot_img = $('#'+slide_id).data('dot-img');
      
      $(this).html('<img src="' + dot_img + '" alt="" />');

    });

  }, 100);


}).slick(options);
  
</script>



<script>
  $(".slider-for").ripples({
  resolution: 500,
  perturbance: 0.01,
});
</script>

    