 <div class="discount-card">
        <div class="card-image">
            <img width="auto" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/holisaleunit.webp?v=1741648153" alt="Product Image">
        </div>
        <div class="card-text">
            <h2>Holi Sale - FLAT 15% OFF</h2>
            <p>Use coupon code <b style="font-size: 1.5rem;color: #25313c;">HOLI15</b> to get FLAT 15% OFF.
                </p>
        </div>
    </div>


    <style>
   .discount-card{margin-bottom: 20px;display:flex;background-color:#fff;border-radius:10px;box-shadow:0 4px 8px rgba(0,0,0,.1);overflow:hidden;width:400px}
.card-image{background:#b6012e}
.card-image img{width:150px;height:100%;margin-bottom: 4px;}
.card-text{border: 1px dashed #56cfe1;border-left: 0;padding:0 10px;display:flex;flex-direction:column;justify-content:center;background: #e3e3e3;}
.card-text h2 {
    margin: 0 0 5px;
    font-size: 15px;
background: linear-gradient(to right, #fe0314, #f42a55);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

}
.card-text p{font-size:11px;color:#000;margin-bottom:0;margin-block-start:0em;margin-block-end:0em;font-weight: 500;}
.buy-now{padding:10px 20px;background-color:tomato;color:#fff;border:none;border-radius:5px;cursor:pointer}
.buy-now:hover{background-color:#ff4500} 
  @media (max-width: 600px) {
    .discount-card {
        width: 100%;
    }    

    .card-text p {
    font-size: 11px;
    }
  
  }
      
</style> 