<div class="grid">
  
    <div class="grid__item grid__item_item4">
      <a href="#section1" data-rel=".click_content_1" class="open_popup">
      <div class="cont-box1" >
        <div class="image-box1">
          <img loading="earger" height="auto" width="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Earsafe-comm-deskhtop-section-7-removebg-preview.png?v=1701375052">
        </div>
        <div class="text-box">
          <h2>Guard your privacy</h2>
        </div>
      </div>
         </a>
    </div>
 
  
    <div class="grid__item grid__item_item5">
      <a href="#section2" data-rel=".click_content_2" class="open_popup">
      <div class="cont-box2" >
        <div class="text-box">
          <h2>Voice Assistance</h2>
        </div>
        <div class="image-box2">
          <img loading="earger" height="auto" width="auto"src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/EarSafecomheysirimm.png?v=1701774798">
        </div>
      </div>
        </a>
    </div>
   
 
    <div class="grid__item grid__item_item6">
       <a href="#section5" data-rel=".click_content_5" class="open_popup">
      <div class="cont-box3" >
        <div class="image-box5">
          <img loading="earger" height="auto" width="auto"src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Earsafe-comm-deskhtop-section-6-removebg-preview.png?v=1701376208">
        </div>
        <div class="text-box">
          <h2>Compatible with glasses</h2>
        </div>
      </div>
          </a> 
    </div>
 
 
    <div class="grid__item grid__item_item7">
       <a href="#section3" data-rel=".click_content_3" class="open_popup">
      <div class="cont-box4" >
        <div class="text-box">
          <h2>360° Bend Free</h2>
        </div>
        <div class="image-box3">
          <img loading="earger" height="auto" width="auto"src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/bend.webp?v=1700590911">
        </div>
      </div>
          </a>
    </div>
   
  
    <div class="grid__item grid__item_item10">
      <a href="#section4" data-rel=".click_content_4" class="open_popup">
      <div class="cont-box5" >
        <div class="text-box" style="margin-bottom: 60px;">
          <h2>Bluetooth 5.2</h2>
        </div>
        <div class="image-box4">
          <img loading="earger" height="auto" width="auto"src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/IMG_2063_1.png?v=1701437109">
        </div>
      </div>
         </a>
    </div>
  
 
    <div class="grid__item grid__item_item11">
       <a href="#section6" data-rel=".click_content_6" class="open_popup">
      <div class="cont-box6" >
        <div class="text-box">
          <h2>IPX5 Water Resistant & Sweatproof
          </h2>
        </div>
        <div class="image-box6">
          <img loading="earger" height="auto" width="auto"src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/IMG_3247_1_-removebg-preview.png?v=1703155779">
        </div>
      </div>
          </a>
    </div>
   
  </div>

<div id="section1" class="click_content_1 contentBox">
<div class="container-t">
  <div class="card" data-label="#1">
    <div class="card__container">
        <h2 class="card__header">
        Guard Your Privacy
      </h2>
      <p class="card__body">
        The anti-leakage technology is strengthened to effectively reduce sound leakage and helps keeping your calls private.
      </p>  
    </div>
  </div>
</div>
</div>

<div id="section2" class="click_content_2 contentBox">
 <div class="container-t">
  <div class="card" data-label="#2">
    <div class="card__container">
        <h2 class="card__header">
        Voice Assistance
      </h2>
      <p class="card__body">
        Activate voice assistance with a single click—effortless control at your fingertips.
      </p>  
    </div>
  </div>
</div>
</div>


<div id="section3" class="click_content_3 contentBox">
 <div class="container-t">
  <div class="card" data-label="#3">
    <div class="card__container">
        <h2 class="card__header">
       360° Bend Free
      </h2>
      <p class="card__body">
        Enjoy freedom in every move with NG EarSafe's 360° bend-free design. The headphones effortlessly adapt to your lifestyle, ensuring durability and a hassle-free experience.
      </p>  
    </div>
  </div>
</div>
</div>


<div id="section4" class="click_content_4 contentBox">
   <div class="container-t">
  <div class="card" data-label="#4">
    <div class="card__container">
        <h2 class="card__header">
       Bluetooth 5.2
      </h2>
      <p class="card__body">
       NG EarSafe rocks Bluetooth 5.2 for a super-smooth wireless experience—faster, better range, and top-notch sound.
      </p>  
    </div>
  </div>
</div>
</div>

<div id="section5" class="click_content_5 contentBox">
    <div class="container-t">
  <div class="card" data-label="#5">
    <div class="card__container">
        <h2 class="card__header">
      Compatible With Glasses
      </h2>
      <p class="card__body">
       Glasses-Friendly Design: NG EarSafe ensures a comfortable fit, making it the perfect companion for users who wear glasses. Enjoy extended wear without any discomfort.
      </p>  
    </div>
  </div>
</div>
</div>

<div id="section6" class="click_content_6 contentBox">
     <div class="container-t">
  <div class="card" data-label="#6">
    <div class="card__container">
        <h2 class="card__header">
      IPX5 Water Resistant & Sweatproof
          
      </h2>
      <p class="card__body">
       Water-Ready: NG EarSafe is equipped with an IPX5 rating, providing reliable protection against water splashes and sweat. Enjoy your activities without worrying about water damage.
      </p>  
    </div>
  </div>
</div>
</div>

<style>
.grid{display:grid;grid-template-columns:repeat(12,[col] 1fr);grid-template-rows:repeat(5,[row] auto);grid-column-gap:1em;grid-row-gap:15px;margin:0;}
.grid__item{text-transform:capitalize;font-size:14px;border-radius:10px}
.grid__item_item1{grid-column:col/span 4;grid-row:row}
.grid__item_item2{grid-column:col 5/span 4;grid-row:row}
.grid__item_item3{grid-column:col 9/span 4;grid-row:row}
.grid__item_item4{grid-column:col/span 5;grid-row:row 2;box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);border: 1px solid #b9d44138;background:linear-gradient(90deg,rgba(135,167,223,.45) 0,rgba(207,222,243,.39) 100%)}
.grid__item_item5{grid-column:col 6/span 4;grid-row:row 2;box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);border: 1px solid #b9d44138;background:linear-gradient(76.83deg,rgba(138,138,174,.14) -1.3%,rgba(244,212,220,.39) 90.52%)}
.grid__item_item6{grid-column:col 4/span 4;grid-row:row 3;box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);border: 1px solid #b9d44138;background:linear-gradient(76.83deg,rgba(138,138,174,.14) -1.3%,rgba(244,212,220,.39) 90.52%)}
.grid__item_item7{grid-column:col 10/span 3;grid-row:row 2;box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);border: 1px solid #b9d44138;background:linear-gradient(90deg,rgba(162,161,163,.28) 0,rgba(231,233,187,.5) 100%)}
.grid__item_item10{grid-column:col/span 3;grid-row:row 3;box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);border: 1px solid #b9d44138;background:linear-gradient(90deg,rgba(162,161,163,.28) 0,rgba(231,233,187,.5) 100%)}
.grid__item_item11{grid-column:col 8/span 5;grid-row:row 3;box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);border: 1px solid #b9d44138;background:linear-gradient(90deg,rgba(135,167,223,.45) 0,rgba(207,222,243,.39) 100%)}
.grid__item_item-v1{grid-column:col/span 4;grid-row:row/span 2}
.grid__item_item-v2{grid-column:col 5/span 4;grid-row:row/span 3}
.grid__item_item-v3{grid-column:col 9/span 4;grid-row:row}
.grid__item_item-v4{grid-column:col 9/span 4;grid-row:row 2}
.grid__item_item-v5{grid-column:col/span 3;grid-row:row 3}
.grid__item_item-v6{grid-column:col 4;grid-row:row 3}
.grid__item_item-v7{grid-column:col 9;grid-row:row 3}
.grid__item_item-v8{grid-column:col 10/span 3;grid-row:row 3}
.grid__item_item-v9{grid-column:col/span 6;grid-row:row 4}
.grid__item_item-v10{grid-column:col 7/span 3;grid-row:row 4}
.grid__item_item-v11{grid-column:col 10/span 3;grid-row:row 4}
.grid__item_item-v12{grid-column:col/span 12;grid-row:row 5}
/* .cont-box1{display:flex;align-items:center;justify-content:center;height:100%;overflow:hidden;background:url('');background-size:30px 30px;background-repeat:no-repeat;background-position:top 15px left 15px}
.cont-box2{display:flex;align-items:center;justify-content:center;height:100%;overflow:hidden;background:url('');background-size:30px 30px;background-repeat:no-repeat;background-position:top 15px left 15px}
.cont-box3{display:flex;align-items:center;justify-content:center;height:100%;overflow:hidden;background:url('');background-size:30px 30px;background-repeat:no-repeat;background-position:top 15px right 15px}
.cont-box4{display:flex;align-items:center;justify-content:center;height:100%;overflow:hidden;background:url('');background-size:30px 30px;background-repeat:no-repeat;background-position:top 15px left 15px}
.cont-box5{display:flex;align-items:flex-end;justify-content:center;height:100%;overflow:hidden;background:url('');background-size:30px 30px;background-repeat:no-repeat;background-position:top 15px right 15px}
.cont-box6{display:flex;align-items:center;justify-content:center;height:100%;overflow:hidden;background:url('');background-size:30px 30px;background-repeat:no-repeat;background-position:top 15px right 15px} */

/* .cont-box1{display:flex;align-items:center;justify-content:center;height:100%;overflow:hidden;background:url('https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Group_80.png?v=1698769426');background-size:30px 30px;background-repeat:no-repeat;background-position:top 15px left 15px} */
.cont-box1{display:flex;align-items:center;justify-content:center;height:100%;overflow:hidden;background:url('https://cdn.shopify.com/s/files/1/0804/5762/9975/files/arrow-circle-down-icon-512x512-5bdxqfue.png?v=1701874765');background-size:25px 25px;background-repeat:no-repeat;background-position:bottom 15px right 15px}
  .cont-box2{display:flex;align-items:center;justify-content:center;height:100%;overflow:hidden;background:url('https://cdn.shopify.com/s/files/1/0804/5762/9975/files/arrow-circle-down-icon-512x512-5bdxqfue.png?v=1701874765');background-size:25px 25px;background-repeat:no-repeat;background-position:bottom 15px right 15px}
.cont-box3{display:flex;align-items:center;justify-content:center;height:100%;overflow:hidden;background:url('https://cdn.shopify.com/s/files/1/0804/5762/9975/files/arrow-circle-down-icon-512x512-5bdxqfue.png?v=1701874765');background-size:25px 25px;background-repeat:no-repeat;background-position:bottom 15px right 15px}
.cont-box4{display:flex;align-items:center;justify-content:center;height:100%;overflow:hidden;background:url('https://cdn.shopify.com/s/files/1/0804/5762/9975/files/arrow-circle-down-icon-512x512-5bdxqfue.png?v=1701874765');background-size:25px 25px;background-repeat:no-repeat;background-position:bottom 15px right 15px}
/* .cont-box5{display:flex;align-items:center;justify-content:center;height:100%;overflow:hidden;background:url('https://cdn.shopify.com/s/files/1/0804/5762/9975/files/arrow-circle-down-icon-512x512-5bdxqfue.png?v=1701874765');background-size:25px 25px;background-repeat:no-repeat;background-position:bottom 15px left 15px} */
  .cont-box5{display:flex;align-items:center;justify-content:center;height:100%;overflow:hidden;background-image:url('https://cdn.shopify.com/s/files/1/0804/5762/9975/files/arrow-circle-down-icon-512x512-5bdxqfue.png?v=1701874765');background-size:25px 25px;background-repeat:no-repeat;background-position:bottom 15px right 15px}
.cont-box6{display:flex;align-items:center;justify-content:center;height:100%;overflow:hidden;background:url('https://cdn.shopify.com/s/files/1/0804/5762/9975/files/arrow-circle-down-icon-512x512-5bdxqfue.png?v=1701874765');background-size:25px 25px;background-repeat:no-repeat;background-position:bottom 15px right 15px}  
  
/* .image-box2 img{max-width:100%;max-height:100%;margin-top:0;scale:1.3;rotate:270deg;margin-left:25px} */
  .image-box2 img {
   max-width: 100%;
    max-height: 100%;
    margin-top: -100px;
    scale: 1.5;
    margin-left: -27px;
    margin-bottom: -14px;
}
.image-box1 img{max-width:100%;max-height:100%;margin-top:-30px;scale:0.8;margin-left:15px}
/* .image-box3 img{max-width:100%;max-height:100%;rotate:70deg;margin-top:0;scale:1.3;margin-left:0} */
.image-box3 img{max-width: 100%;max-height: 100%;rotate: 0deg;margin-top: 0px;scale: 3;margin-left: -150px;}  
.image-box4 img{max-width:100%;max-height:100%;margin-top:0;scale:2;margin-left:-10px;margin-bottom:78px;rotate:18deg}
.image-box5 img{max-width:100%;max-height:100%;margin-top:70px;scale:1.4;margin-left:0;margin-bottom:30px}
.image-box6 img{max-width:100%;max-height:100%;margin-top:0;scale:1;margin-left:0}
.text-box h2{font-size:22px !important;padding:20px;text-align:center}
.contentBox {
    display: none;
}  

.container-t {
	 /* width: 100vw;
	 height: 100vh; */
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 /* background: #f3f3f3; */
}
 .card {
	 width: 100%;
	 border-radius: 1rem;
	 background: white;
	 box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
	 position: relative;
	 color: #434343;
}
 .card .card__container {
	 padding: 2rem;
	 width: 100%;
	 height: 100%;
	 background: white;
	 border-radius: 1rem;
	 position: relative;
}
 .card .card__header {
	 margin-bottom: 1rem;
   margin-top: 4rem;
       font-size: 25px;
}
 .card::before {
	 position: absolute;
	 top: 3rem;
left: -0.9rem;
	 content: '';
background: linear-gradient(90deg,rgb(99 187 71) 0,rgb(31 139 176) 100%);
	 height: 28px;
	 width: 28px;
	 transform: rotate(45deg);
}
 .card::after {
	 position: absolute;
	 content: attr(data-label);
	 top: 11px;
    left: -15px;
	 padding: 0.5rem;
	 width: 10rem;
	    background: linear-gradient(90deg,rgb(99 187 71) 0,rgb(31 139 176) 100%);
	 color: white;
	 text-align: center;
	 box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
}
 
  
@media only screen and (max-width:768px){
.grid__item{border-radius:5px} 
.grid{display:grid;grid-template-columns:repeat(12,[col] 1fr);grid-template-rows:repeat(5,[row] auto);grid-column-gap:0.5em;grid-row-gap:8px;margin:0}
.text-box h2{font-size:14px !important;padding:20px;text-align:center}
.grid__item_item4{grid-column:col/span 6;grid-row:row 2;box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);border: 1px solid #b9d44138;background:linear-gradient(90deg,rgba(135,167,223,.45) 0,rgba(207,222,243,.39) 100%)}
.grid__item_item5{grid-column:col 7/span 9;grid-row:row 2;box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);border: 1px solid #b9d44138;background:linear-gradient(76.83deg,rgba(138,138,174,.14) -1.3%,rgba(244,212,220,.39) 90.52%)}
.grid__item_item6{grid-column:col 1/span 8;grid-row:row 3;box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);border: 1px solid #b9d44138;background:linear-gradient(76.83deg,rgba(138,138,174,.14) -1.3%,rgba(244,212,220,.39) 90.52%)}
.grid__item_item7{grid-column:col 9/span 7;grid-row:row 3;box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);border: 1px solid #b9d44138;background:linear-gradient(90deg,rgba(162,161,163,.28) 0,rgba(231,233,187,.5) 100%)}
.grid__item_item10{grid-column:col/span 6;grid-row:row 4;box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);border: 1px solid #b9d44138;background:linear-gradient(90deg,rgba(162,161,163,.28) 0,rgba(231,233,187,.5) 100%)}
.grid__item_item11{grid-column:col 7/span 9;grid-row:row 4;box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);border: 1px solid #b9d44138;background:linear-gradient(90deg,rgba(135,167,223,.45) 0,rgba(207,222,243,.39) 100%)}
/* .cont-box1,.cont-box2,.cont-box3,.cont-box4,.cont-box5,.cont-box6{background:0 0} */

.cont-box1{display:flex;align-items:center;justify-content:center;height:100%;overflow:hidden;background:url(https://cdn.shopify.com/s/files/1/0804/5762/9975/files/arrow-circle-down-icon-512x512-5bdxqfue.png?v=1701874765);background-size:20px 20px;background-repeat:no-repeat;background-position:bottom 10px right 10px}  
.cont-box2{display:flex;align-items:center;justify-content:center;height:100%;overflow:hidden;background:url(https://cdn.shopify.com/s/files/1/0804/5762/9975/files/arrow-circle-down-icon-512x512-5bdxqfue.png?v=1701874765);background-size:20px 20px;background-repeat:no-repeat;background-position:bottom 10px right 10px}
  .cont-box3{display:flex;align-items:center;justify-content:center;height:100%;overflow:hidden;background:url(https://cdn.shopify.com/s/files/1/0804/5762/9975/files/arrow-circle-down-icon-512x512-5bdxqfue.png?v=1701874765);background-size:20px 20px;background-repeat:no-repeat;background-position:bottom 10px right 10px}
  .cont-box4{display:flex;align-items:center;justify-content:center;height:100%;overflow:hidden;background:url(https://cdn.shopify.com/s/files/1/0804/5762/9975/files/arrow-circle-down-icon-512x512-5bdxqfue.png?v=1701874765);background-size:20px 20px;background-repeat:no-repeat;background-position:bottom 10px right 10px}
  .cont-box5{display:flex;align-items:center;justify-content:center;height:100%;overflow:hidden;background:url(https://cdn.shopify.com/s/files/1/0804/5762/9975/files/arrow-circle-down-icon-512x512-5bdxqfue.png?v=1701874765);background-size:20px 20px;background-repeat:no-repeat;background-position:bottom 10px left 10px}
  .cont-box6{display:flex;align-items:center;justify-content:center;height:100%;overflow:hidden;background:url(https://cdn.shopify.com/s/files/1/0804/5762/9975/files/arrow-circle-down-icon-512x512-5bdxqfue.png?v=1701874765);background-size:20px 20px;background-repeat:no-repeat;background-position:bottom 10px left 10px}
  
.image-box1 img{max-width:100%;max-height:100%;rotate:0deg;margin-top:30px;scale:1.2;margin-left:15px;margin-bottom:20px}
  .image-box2 img{max-width:100%;max-height:100%;margin-top:-72px;scale:2.3;margin-left:-18px;margin-bottom:-14px}
.image-box5 img{max-width:100%;max-height:100%;margin-top:0;scale:1.8;margin-left:-20px}
/* .image-box3 img{max-width:100%;max-height:100%;rotate:71deg;margin-top:0;scale:2;margin-left:-7px} */
.image-box3 img{max-width: 100%;max-height: 100%;rotate: 0deg;margin-top: 0px;scale: 4.5;margin-left: -70px;}  
.image-box4 img{max-width: 100%;max-height: 100%;margin-top: 70px;scale: 2.8;margin-left: -30px;}
.image-box6 img{max-width:100%;max-height:100%;margin-top:0;scale:2;margin-left:30px;rotate:0deg}
  .cont-box5 .text-box{margin-bottom: -60px !important;}
}
</style>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" ></script>

<script>
  $(".open_popup").click(function() {
    $($(this).data('rel')).show().siblings(".contentBox").hide();
});
</script>

<script>
// Select all »a« elements with a parent class »links« and add a function that is executed on click
$( '.grid__item a' ).on( 'click', function(e){
	
  // Define variable of the clicked »a« element (»this«) and get its href value.
  var href = $(this).attr( 'href' );
  
  // Run a scroll animation to the position of the element which has the same id like the href value.
  $( 'html, body' ).animate({
		scrollTop: $( href ).offset().top
  }, '300' );
	
  // Prevent the browser from showing the attribute name of the clicked link in the address bar
  e.preventDefault();

});
</script>
