
    <div class="container">
        <!-- Box 1 -->
        <div class="box" style="background:#323232">
            <h3>How are Ear Infections caused?</h3>
             <table id="box_1">
        <tr>
             <td class="left"><b>Fungal Infections</b></td>
            <td class="right">Fungi can grow in the ear canal, especially in warm, humid environments.</td>
        </tr>
        <tr>
             <td class="left"><b>Prolonged Use of Earbuds or Headphones</b></td>
            <td  class="right">Extended use, especially if earbuds are not cleaned regularly, can lead to ear infections due to the buildup of bacteria or fungi.</td>
        </tr>
        <tr>
            <td class="left"><b>Ear Canal Damage</b></td>
           <td class="right">Injuries or damage to the ear canal, such as from inserting objects, can increase the risk of infection.</td>
        </tr>
 <tr>
            <td class="left"><b>Allergies</b></td>
           <td class="right">Allergic reactions can cause inflammation and increase susceptibility to infections.
</td>
        </tr>

 <tr>
            <td class="left"><b>Sinus Infections</b></td>
           <td class="right">These can sometimes spread to the ear and cause infections.
</td>
        </tr>
    </table>
        </div>
        
        <!-- Box 2 -->
        <div class="box" style="background:#EFEFEF">
                <h3 style="color:#343434">Ways we can prevent Ear Infections</h3>
             <table id="box_1">
        <tr>
             <td class="left_ent"><b>Treat Allergies Promptly</b></td>
            <td class="right_ent">Manage allergies with appropriate medications or treatments to reduce inflammation and prevent infections.</td>
        </tr>
        <tr>
             <td class="left_ent"><b>Manage Sinus Infections</b></td>
            <td  class="right_ent">Seek treatment for sinus infections to prevent them from spreading to the ears.</td>
        </tr>
        <tr>
            <td class="left_ent"><b>Avoid Prolonged use of In-ear Headphones & Follow the 60/60 Rule</b></td>
           <td class="right_ent">Listen at no more than 60% of the maximum volume for no more than 60 minutes at a time.
</td>
        </tr>
 <tr>
            <td class="left_ent"><b>Opt for Open-Ear Headphones</b></td>
           <td class="right_ent">These do not cause ear infections like in-ear models, as they don’t insert into the ear canal.

</td>
        </tr>

 <tr>
            <td class="left_ent"><b>Monitor Ear Health</b></td>
           <td class="right_ent">Pay attention to any signs of discomfort or infection and seek medical advice if needed.
</td>
        </tr>
    </table>
        </div>
    </div>


    <style>
        .container {
    display: flex;
    justify-content: center;
    gap: 0;
    margin-top: 20px;
}
      .left{
        font-weight:800;
        font-size:16px;
        vertical-align: baseline;
      }
.right{
  font-weight:400;
        font-size:12px;
  vertical-align: baseline;
}

       .left_ent{
        font-weight:800;
        font-size:16px;
        vertical-align: baseline;
         color:#343434;
      }
.right_ent{
  font-weight:400;
        font-size:12px;
  vertical-align: baseline;
  color:#343434;
}
      
        .box {
            padding: 50px;
            width: 100%;
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
        }
        .box h3 {
               color: #fff;
    padding: 10px;
    margin-top: 0;
    border-radius: 5px;
    font-size: 50px;
    line-height: 6rem;
        }
          table {
            width: 100%;
            border-collapse: collapse;
        }
       td {
    border: 1px solid #ffffff00;
    padding: 8px;
    text-align: left;
    color: #fff;
}
      @media only screen and (max-width: 768px) {
        .container {
    display: block;
}
         .box {
            padding: 25px;
        }
  }
    </style>
