
  <div class="wrapper_scroll">
    <section class="section_scroll sticky section--s1">
<img id="desktop_vid" width="auto" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/IMG20240911173353_1_1.heic?v=1726743989" alt="">

<img id="mobile_vid" width="auto" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/directors_BG_image_Mobile_1.webp?v=1726864729" alt="">
       

 <!-- <video id="desktop_vid" poster="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/download_13.png?v=1723458371" playsinline autoplay muted loop>
        <source src="https://cdn.shopify.com/videos/c/o/v/9cbbf72cda8d4389b505ee058edfb693.mp4" type="video/mp4">
      </video>
      <video id="mobile_vid" poster="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/download_14.png?v=1723460931" playsinline autoplay muted loop>
        <source src="https://cdn.shopify.com/videos/c/o/v/6e6ce79a7f9e41fcbd51ab00390130f7.mp4" type="video/mp4">
      </video> -->
    </section>
    <section class="section_scroll sticky section--s2">
      <div class="caption_scroll">

<div class="row" id="style-5">
  
  <div id="column_1" class="columns" style="width:25%;">
    <h3>A Note from Our Founders</h3>
    <p>Our Story:<br>
From Smart TVs to Safer Tunes</p>
  </div>
  <div id="column_2" class="columns" style="text-align:justify; width:50%;">
    <p>Picture this: It’s February 2020, and we’re all set to launch NG Smart TVs, riding high on our family’s 30-year legacy in the world of consumer durables. We were ready to take the leap—until the world pressed pause. Enter COVID-19, and like everyone else, we found ourselves at home, our big plans on hold.</p>
   <p>Now, here's where things get interesting. With all the time spent at home, I was diving into endless business seminars, earphones practically glued to my ears. But soon enough, my ears started protesting—sharp pain near the ear lobe, especially at night after all day use. Determined to find a solution, I stumbled upon bone conduction technology. A lightbulb moment struck when I realized, "Wait, why is no one in India doing this?"</p> 
<p>So, I did what any curious entrepreneur would do—I got some samples from China, tried them out, and boom, NG EarSafe was born in August 2020. Our mission? To make listening safer and more comfortable for everyone. We started with just 12 units sold in our first month, but fast forward to today, and we’re moving over 3,000 headphones a month, backed by some of India’s top VCs.</p>
<p>It’s been a wild ride! Today 1 in 8 people are expected to face some kind of hearing loss according to WHO forecast. At NG EarSafe, we’re all about making your listening experience not just safer, but a whole lot better. Because we believe that caring for your health should be as easy as pressing play.</p>

<p class="align-center"><strong>—&nbsp;&nbsp;Meet Shah & Raj Shah (Co-Founders)</strong></p>
  </div>
  <div id="column_3" class="columns" style="width:20%;vertical-align: bottom;">
<img width="auto" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/directors_small_image.webp?v=1726779935" alt="">
  </div>
  
 </div>

        
      </div>
    </section>
  </div>


<style>
.row {
  width: 100%;
  /* text-align: le; */
    padding: 50px 0px 100px 50px;
}

.columns {
  width: 33%;
  min-width: 280px;
  vertical-align: top;/*Fix for different     height elements*/
  margin-bottom: 10px;
  display: inline-block;
  /* background-color: #f45805; */
  color: #fff;
  padding-top: 50px;
padding-right: 40px;
 }

  .columns h3{color: #ffffff;
    font-size: 40px;}

  .columns p {
    font-size: 14px;
    line-height: 2.5rem;
}

  .columns img{
    padding: 200px 0px 90px 30px;

  }
  
.align-right {
  text-align: right;
}
@media screen and (max-width: 680px) {
  .columns {
    width: 100%; 
  }
}
  
#desktop_vid.scrolled {
  -webkit-filter: blur(2px) brightness(0.3);
  -moz-filter: blur(2px) brightness(0.3);
  -ms-filter: blur(2px) brightness(0.3);
  -o-filter: blur(2px) brightness(0.3);
  filter: blur(2px) brightness(0.3);
  
}

#mobile_vid.scrolled {
  -webkit-filter: blur(2px) brightness(0.3);
  -moz-filter: blur(2px) brightness(0.3);
  -ms-filter: blur(2px) brightness(0.3);
  -o-filter: blur(2px) brightness(0.3);
  filter: blur(2px) brightness(0.3);
  
}  

.wrapper_scroll{margin:0;padding:0;font-size:18px;line-height:1.9em;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"}
.wrapper_scroll{width:100%;background:url('');background-size:cover;background-attachment:fixed;z-index:1}
.section_scroll{width:100%;box-sizing:border-box;position:relative;z-index:99}
.wrapper_scroll .sticky{min-height:100vh;max-height:100vh;height:100vh;position:-webkit-sticky;position:sticky;top:20px;z-index:9;
overflow: hidden;
}

.section_scroll{color:#fff}
.section--s1{top:20px;max-height:calc(100vh - 40px)}
.section--s2{top:40px;max-height:calc(100vh - 80px)}

#mobile_vid{display:none}
#desktop_vid{scale: 1.5;}
.section_scroll video{width:100%;object-fit:cover;position:relative;height: 100%;}
.caption_scroll{display:flex;justify-content:center;align-items:center;height:100%}
/* .caption_scroll .contents_1{width:400px;position:absolute;left:150px;top:150px}
.caption_scroll .contents_1 h2{color:#fff;font-size:3.5rem;line-height:4.5rem}
.caption_scroll .contents_2{width:400px;position:absolute;right:50px;top:80px}
.caption_scroll .contents_2 p{color:#fff;font-size:2rem;font-weight:400;text-align:right} */

@media only screen and (max-width:768px){
#desktop_vid{display:none}
#mobile_vid{display:block;width: 100%;
scale: 1.1;
}
#column_1, #column_2, #column_3{
    width: 100% !important;
}
  /* #column_3{display:none;} */
  .columns{padding:0;min-width: unset;}
  .row {
    width: 100%;
    padding: 20px;
    height: 100vh;
overflow-y: scroll;
}
  .columns img {
    padding: 0;
}
  .columns p {
    font-size: 13px;
    line-height: 1.6rem;
}

#style-5::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-5::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-5::-webkit-scrollbar-thumb
{
	background-color: #0ae;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}
  
}


</style>


<script>

if(window.innerWidth > 480) {
  
 //! Put the class name that you want to use
// Class name that will be added to the navbar element in the "scrolled" state
const SCROLLED_STATE_CLASS = "scrolled"

//! Use your own ID or selector
// The id of navigation bar HTML element
const NAVBAR_ID = "desktop_vid"

// Get the navigation bar element
const navbar = document.getElementById(NAVBAR_ID)

// OnScroll event handler
const onScroll = () => {

  // Get scroll value
  const scroll = document.documentElement.scrollTop

  // If scroll value is more than 0 - means the page is scrolled, add or remove class based on that
  if (scroll > 800) {
    navbar.classList.add(SCROLLED_STATE_CLASS);
  } else {
    navbar.classList.remove(SCROLLED_STATE_CLASS)
  }
}

// Use the function
window.addEventListener('scroll', onScroll)

} else {

   //! Put the class name that you want to use
// Class name that will be added to the navbar element in the "scrolled" state
const SCROLLED_STATE_CLASS = "scrolled"

//! Use your own ID or selector
// The id of navigation bar HTML element
const NAVBAR_ID = "mobile_vid"

// Get the navigation bar element
const navbar = document.getElementById(NAVBAR_ID)

// OnScroll event handler
const onScroll = () => {

  // Get scroll value
  const scroll = document.documentElement.scrollTop

  // If scroll value is more than 0 - means the page is scrolled, add or remove class based on that
  if (scroll > 800) {
    navbar.classList.add(SCROLLED_STATE_CLASS);
  } else {
    navbar.classList.remove(SCROLLED_STATE_CLASS)
  }
}

// Use the function
window.addEventListener('scroll', onScroll)
  
}
  
</script>

