   <div id="flexbox">
      <div class="column-ng" hdt-reveal="slide-in">
        <img loading="earger" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Rectangle_112_1_-modified.png?v=1717966656" alt="Image" width="100%" />
        <img loading="earger" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Buds_Left_side_desktop.webp?v=1727072082" alt="Image" width="100%" />
      </div>
      <div class="column-ng" hdt-reveal="slide-in">
        <img loading="earger" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Rectangle_113_hgb2_d1f95505-a4c7-49cc-922b-4c3e0a6c4eb5.webp?v=1718626585" alt="Image" width="100%" />
        <img loading="earger" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Rectangle_114-modified.webp?v=1718626585" alt="Image" width="100%" />
      </div>
      <div class="column-ng" hdt-reveal="slide-in">
        <img loading="earger" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Rectangle_116-modified.png?v=1717967292" alt="Image" width="100%" />
        <img loading="earger" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Buds_Right_side_desktop.webp?v=1727072082" alt="Image" width="100%" />
      </div>
     
    </div>
    <div id="flexbox-m">
      <div class="column-ng" hdt-reveal="slide-in">
        <img loading="earger" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Rectangle_112_1_-modified.png?v=1717966656" alt="Image" width="100%" />
        <img loading="earger" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Rectangle_116hjfj.webp?v=1717968228" alt="Image" width="100%" />
        <img loading="earger" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Buds_Left_side_Mobile.webp?v=1727072081" alt="Image" width="100%" />
      </div>
      <div class="column-ng" hdt-reveal="slide-in">
        <img loading="earger" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Buds_Right_side_Mobile.webp?v=1727072081" alt="Image" width="100%" />
        <img loading="earger" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Lite.webp?v=1727071979" alt="Image" width="100%" />
      </div>
    </div>

     <button type="button" id="cta-btn" class="t4s-sticky-atc__atc t4s-btn-loading__svg" style="margin: 15px auto;display: block;background: #00a6b4;border-radius: 25px;width: 20%;font-size: 20px;box-shadow: 0px 3px #000000bf;padding: 10px;">
          <span class="t4s-btn-atc_text"  onclick="window.open('https://ngearsafe.com/pages/ngsquad', '_blank');">View Full #NGSquad</span>
        </button>


     <style>
       
  #flexbox{display:flex;flex-wrap:wrap;padding:0 4px;justify-content:center;background-image:url('https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Frame_48_2.png?v=1696322401');background-repeat:no-repeat;background-size:cover}
.column-ng{flex:25%;max-width:25%;padding:120px 4px 0px}
.column-ng img{border-radius: 10px;vertical-align:middle;margin-top:8px;}
.column-ng:nth-child(2n){display:flex;flex-direction:column-reverse}
@media screen and (max-width:800px){
.column-ng{flex:50%;max-width:50%}
}
@media screen and (max-width:600px){
.column-ng{flex:100%;max-width:100%}
}
#flexbox-m{display:none}
@media only screen and (max-width:768px){
#flexbox{display:none}
#flexbox-m{display:flex;flex-wrap:nowrap;padding:0 4px;justify-content:center;background-image:url('https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Rectangle-mbg.webp?v=1695907227');background-position: center;background-repeat:no-repeat;background-size:cover}
#cta-btn{width:70% !important}
}
    </style>