<div class="t4s-container" style="padding-top:30px;">
<div timeline="" hdt-reveal="slide-in" class="t4s-top-heading t4s-text-center" observed="" style="--animation-order: 0;">
<div id="t4s_title_ap" timeline="" hdt-reveal="slide-in" class="t4s-top-heading-heading t4s_des_title_9 t4s-text-center" observed="" style="--animation-order: 0;">
 <h3 class="t4s-section-title t4s-title" style="color:#DDDFE0;"><span>NG Squad</span></h3>
<!-- <p style="margin-top: 15px;">Audio playback and calls can be controlled directly on the built-in touchpads, <br>truly freeing your hands without additional phone operation.</p> -->
</div></div></div>

<div class="wrapper-squad">
      <div class="carousel">

         <!-- <div>
          <div class="card-squad">
            <div class="card-header">
              <img loading="eager" width="auto" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Comm-Influencer_1-fhfgh768x960_1.webp?v=1703267339">
            </div>
          </div>
        </div> -->

         <!-- <div>
          <div class="card-squad">
            <div class="card-header">
              <img loading="eager" width="auto" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Comm-Influencer_1-768x.webp?v=1703267338">
            </div>
          </div>
        </div> -->
        
        <div>
          <div class="card-squad">
            <div class="card-header">
              <img loading="eager" width="auto" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/2.webp?v=1723540766">
            </div>
          </div>
        </div>    
        <div>
          <div class="card-squad">
            <div class="card-header">
              <img loading="eager" width="auto" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/3_12c3dfe8-d09a-47e2-a22a-ef59430a5341.webp?v=1723540766">
            </div>
          </div>
        </div>
        <div>
          <div class="card-squad">
            <div class="card-header">
              <img loading="eager" width="auto" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/6.webp?v=1723540766">
            </div>
          </div>  
        </div>
        <div>
          <div class="card-squad">
            <div class="card-header">
              <img loading="eager" width="auto" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/5_1.webp?v=1723540766">
            </div>
          </div> 
        </div>
        <div>
          <div class="card-squad">
            <div class="card-header">
              <img loading="eager" width="auto" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/1_4eb934f4-63d8-4689-b9bb-1dec95bdcc50.webp?v=1723540765">
            </div>
          </div>
        </div>

         <div>
          <div class="card-squad">
            <div class="card-header">
              <img loading="eager" width="auto" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/7.webp?v=1723540766">
            </div>
          </div>
        </div>

         <div>
          <div class="card-squad">
            <div class="card-header">
              <img loading="eager" width="auto" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/4.webp?v=1723540766">
            </div>
          </div>
        </div>
        
        <!-- <div>
          <div class="card-squad">
            <div class="card-header">
              <img loading="eager" width="auto" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Comm-Influencer_1-768x960.jpg?v=1701782512">
            </div>
          </div>
        </div>     -->
      </div>
  <button  type="button" class="t4s-sticky-atc__atc t4s-btn-loading__svg" style="margin-top: 20px;">
          <span class="t4s-btn-atc_text" onclick="window.location.href='https://ngearsafe.com/pages/ngsquad';">View Full #NGSquad</span>
        </button>
</div>



<style>
.wrapper-squad{width:100%;padding-top:20px;text-align:center;margin-top: -60px;}
.wrapper-squad .carousel{width:90%;margin:0 auto}
.wrapper-squad .slick-slide{margin:10px;margin:0 5px!important;}
.wrapper-squad .slick-slide img{width:100%;border-radius:15px;}
/* .wrapper-squad .slick-next,.wrapper-squad .slick-prev{background:#000;border-radius:15px;border-color:transparent} */
.wrapper-squad .card-squad{
/* border:2px solid #fff; */
/* box-shadow:1px 1px 15px #ccc */
}
/* .wrapper-squad .card-body{background:#fff;width:100%;vertical-align:top} */
.wrapper-squad .card-content{text-align:left;color:#333;padding:15px}
.wrapper-squad .card-text{font-size:14px;font-weight:300}
.wrapper-squad .slick-list{padding:0 !important;}  
  
  .slide-arrow{
  position: absolute;
  top: 50%;
  margin-top: -15px;
}
.prev-arrow{
  left: -70px;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 50px solid #bebebe66;
  border-top: 45px solid transparent;
  border-bottom: 45px solid transparent;
  top: 43%;
  cursor:pointer;
}
.next-arrow{
  right: -70px;
    width: 0;
    height: 0px;
    border-right: 0 solid transparent;
    border-left: 50px solid #bebebe66;
    border-top: 45px solid transparent;
    border-bottom: 45px solid transparent;
    top: 43%;
  cursor:pointer;
}

  @media only screen and (max-width: 768px) {

    .slide-arrow{
  position: absolute;
  top: 50%;
  margin-top: -15px;
      z-index:99;
}

    .wrapper-squad {
    margin-top: -30px;
}

 .prev-arrow{
 left: -12px;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 20px solid #bebebe66;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    top: 50%;
    cursor: pointer;
}
.next-arrow{
  right: -12px;
   width: 0;
    height: 0;
    border-right: 0 solid transparent;
    border-left: 20px solid #bebebe66;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    top: 50%;
    cursor: pointer;
}
  }

  .t4s-sticky-atc__atc {
    font-size: 14px;
    font-weight: 600;
    min-height: 40px;
    padding: 5px 25px;
    min-width: 160px;
    text-transform: uppercase;
    border-radius: var(--btn-radius);
    background-color: var(--accent-color);
    color: var(--t4s-light-color);
}
  
</style>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js' ></script> 

      <script>
var $ngs = jQuery.noConflict();
  $ngs('.carousel').slick({
    speed: 500,
    slidesToShow: 3,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 2000,
    arrows:true,
    prevArrow: '<img class="slide-arrow prev-arrow" src="https://static-00.iconduck.com/assets.00/arrow-right-circle-icon-512x512-2p1e2aaw.png">',
    nextArrow: '<img class="slide-arrow next-arrow" src="https://static-00.iconduck.com/assets.00/arrow-right-circle-icon-512x512-2p1e2aaw.png">',
    dots:false,
    centerMode: true,
    responsive: [{
      breakpoint: 1024,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 1,
        centerMode: true,

      }

    }, {
      breakpoint: 800,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2,
        dots: false,
        infinite: true,

      }
    },  {
      breakpoint: 480,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 1,
        dots: false,
        infinite: true,
        autoplay: true,
        autoplaySpeed: 2000,
      }
    }]
  });

      </script>
