

<div class="wrapper-squad">
      <div class="carousel">
        <div>
          <div class="card-squad">
            <div class="card-header">
              <img loading="eager" width="auto" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/ng1.webp?v=1703141055">
            </div>
          </div>
        </div>    
        <div>
          <div class="card-squad">
            <div class="card-header">
              <img loading="eager" width="auto" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/ng4_5.webp?v=1703141055">
            </div>
          </div>
        </div>
        <div>
          <div class="card-squad">
            <div class="card-header">
              <img loading="eager" width="auto" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/ng4.webp?v=1703141055">
            </div>
          </div>  
        </div>
        <div>
          <div class="card-squad">
            <div class="card-header">
              <img loading="eager" width="auto" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/ng5.webp?v=1703141056">
            </div>
          </div> 
        </div>
        <div>
          <div class="card-squad">
            <div class="card-header">
              <img loading="eager" width="auto" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/ng2.webp?v=1703141056">
            </div>
          </div>
        </div>
        <div>
          <div class="card-squad">
            <div class="card-header">
              <img loading="eager" width="auto" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/ng6.webp?v=1703141055">
            </div>
          </div>
        </div>    
      </div>
  <button type="button" class="t4s-sticky-atc__atc t4s-btn-loading__svg" style="margin-top: 20px;">
          <span class="t4s-btn-atc_text"  onclick="window.location.href='https://ngearsafe.com/pages/ngsquad';">View Full #NGSquad</span>
        </button>
</div>



<style>
.wrapper-squad{width:100%;padding-top:20px;text-align:center}
.wrapper-squad .carousel{width:90%;margin:0 auto}
.wrapper-squad .slick-slide{margin:10px}
.wrapper-squad .slick-slide img{width:100%}
/* .wrapper-squad .slick-next,.wrapper-squad .slick-prev{background:#000;border-radius:15px;border-color:transparent} */
.wrapper-squad .card-squad{border:2px solid #fff;
/* box-shadow:1px 1px 15px #ccc */
}
/* .wrapper-squad .card-body{background:#fff;width:100%;vertical-align:top} */
.wrapper-squad .card-content{text-align:left;color:#333;padding:15px}
.wrapper-squad .card-text{font-size:14px;font-weight:300}
.wrapper-squad .slick-list{padding:0 !important;}  

.slide-arrow{
  position: absolute;
  top: 50%;
  margin-top: -15px;
}
.prev-arrow{
  left: -70px;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 50px solid #ffffff;
  border-top: 45px solid transparent;
  border-bottom: 45px solid transparent;
  top: 43%;
  cursor:pointer;
}
.next-arrow{
  right: -70px;
    width: 0;
    height: 0px;
    border-right: 0 solid transparent;
    border-left: 50px solid #ffffff;
    border-top: 45px solid transparent;
    border-bottom: 45px solid transparent;
    top: 43%;
  cursor:pointer;
}

  @media only screen and (max-width: 768px) {

    .slide-arrow{
  position: absolute;
  top: 50%;
  margin-top: -15px;
      z-index:99;
}

 .prev-arrow{
 left: -12px;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 20px solid #ffffff;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    top: 50%;
    cursor: pointer;
}
.next-arrow{
  right: -12px;
   width: 0;
    height: 0;
    border-right: 0 solid transparent;
    border-left: 20px solid #ffffff;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    top: 50%;
    cursor: pointer;
}
  }
  
</style>


      <script>

  $('.carousel').slick({
    speed: 500,
    slidesToShow: 3,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 2000,
    arrows:true,
    prevArrow: '<img class="slide-arrow prev-arrow" src="https://static-00.iconduck.com/assets.00/arrow-right-circle-icon-512x512-2p1e2aaw.png">',
    nextArrow: '<img class="slide-arrow next-arrow" src="https://static-00.iconduck.com/assets.00/arrow-right-circle-icon-512x512-2p1e2aaw.png">',
    dots:false,
    centerMode: true,
    responsive: [{
      breakpoint: 1024,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 1,
        centerMode: true,

      }

    }, {
      breakpoint: 800,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2,
        dots: false,
        infinite: true,

      }
    },  {
      breakpoint: 480,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 1,
        dots: false,
        infinite: true,
        autoplay: true,
        autoplaySpeed: 2000,
      }
    }]
  });

      </script>
