<div class="parent">
  <!-- <div class="boxC">
    <div class="innerC">
      <div class="couponC"><span class="scissors">
      </span> <span class="code">No Cost EMI</span></div>
      <p><br>Easy 3 months <br>No Cost <br>EMI options</p>
    </div>
  </div> -->

  <!-- <div id="hide-earsafepro" class="boxC">
<div class="innerC">
<div class="couponC"><span class="scissors">
  <img style="width: 78px;" width="78" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/ex-offer.png?v=1714051300" /></span> <span class="code">₹500 OFF</span></div>
<p>Get flat ₹500 Off on exchange</p>
<a class="Click-here" href="javascript:void(0)">Apply</a> 
</div>
</div>  -->
  
 
<div class="boxC">
    <div class="innerC">
      <div class="couponC"><span class="code">Flat ₹200 OFF </span></div>
      <p>Instant ₹200 discount on prepaid modes of payment during checkout</p>
    </div>
  </div>
</div>

<style>
  .boxC{width: 160px;
    /* height: 160px; */
        height:unset;
        text-align:center;display:inline-block;padding:1rem .1rem;vertical-align:middle}
.couponC{display: inline-block;
    border: 1px dashed #2a74ed;
    padding: 0.3em 0.5em;
    position: relative;
    font-weight: 500;
    background: #25313c;
    color: #ffffff;
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 12px;}
span.scissors{position:absolute;top:-48px;right:-50px}
.innerC{display:inline-block;border:1px solid #009688;padding:10px 15px 0 10px;background:#24a7ac36;border-radius:10px;width: 190px;}
/* .innerC p{color: #25313c;width:130px;font-size:10px;padding:5px 0 3px 0;font-weight:500} */
.innerC p {
    color: #25313c;
    width: 130px;
    font-size: 10px;
    padding: 5px 0 3px 0;
    font-weight: 500;
    text-align: center;
    display: block;
    margin: 0 auto;
}
  
.innerC a{ padding-bottom: 3px !important;   font-size: 14px;
    background: #ff4e00;
    padding: 0px 14px;
    color: #fff;
border: 2px dotted #25313c;
 font-weight: 600;
    letter-spacing: 1px;         
         }
.couponC br{display:none;}
.innerC p{margin-bottom: 0px !important;}

 
</style>