<div id="main_desktop" class="main-container_desktop">
  <ul id="first_row" class="grid-wrapper1_desktop">
    <li>
      <div class="fea_cap">
        <h4>Dual Pairing</h4>
        <span><a id="fea1" href="javascript:void(0);">KNOW MORE&nbsp;→</a></span>
      </div>
      <div class="card-overlay">
        <div class="card-overlay-inner text-center text-white">
          <h6 class="text-white mb-2">Dual Pairing</h6>
          <p>Connect to two devices simultaneously for effortless switching.</p>
        </div>
        <span><a id="fea11" href="javascript:void(0);">✖</a></span>
      </div>
    </li>
    <li>
      <div class="fea_cap">
        <h4>Premium silicon finish</h4>
        <span><a id="fea2" href="javascript:void(0);">KNOW MORE&nbsp;→</a></span>
      </div>
      <div class="card-overlay2">
        <div class="card-overlay-inner text-center text-white">
          <h6 class="text-white mb-2">Premium silicon finish</h6>
          <p>Skin-friendly Silicon finish for a premium, smooth & comfortable touch.</p>
        </div>
        <span><a id="fea22" href="javascript:void(0);">✖</a></span>
      </div>
    </li>
  </ul>
  <ul class="grid-wrapper2_desktop">
    <li>
      <div class="fea_cap">
        <h4>BT 5.3 & Voice<br> Assistance</h4>
        <span><a id="fea3" href="javascript:void(0);">KNOW MORE&nbsp;→</a></span>
      </div>
      <div class="card-overlay3">
        <div class="card-overlay-inner text-center text-white">
          <h6 class="text-white mb-2">BT 5.3 & Voice<br> Assistance</h6>
          <p>Enjoy stable connections and effortless voice activation with Google and Siri—all at your fingertips.</p>
        </div>
        <span><a id="fea33" href="javascript:void(0);">✖</a></span>
      </div>
    </li>
    <li>
      <div class="fea_cap">
        <h4>IPx4 Water Resistant &<br> Sweatproof </h4>
        <span><a id="fea4" href="javascript:void(0);">KNOW MORE&nbsp;→</a></span>
      </div>
      <div class="card-overlay4">
        <div class="card-overlay-inner text-center text-white">
          <h6 class="text-white mb-2">IPx4 Water Resistant &<br> Sweatproof</h6>
          <p>Built to handle drizzle and sweat.</p>
        </div>
        <span><a id="fea44" href="javascript:void(0);">✖</a></span>
      </div>
    </li>
    <li>
      <div class="fea_cap">
        <h4>Light Weight<br>(9 gms)</h4>
        <span><a id="fea5" href="javascript:void(0);">KNOW MORE&nbsp;→</a></span>
      </div>
      <div class="card-overlay5">
        <div class="card-overlay-inner text-center text-white">
          <h6 class="text-white mb-2">Light Weight<br>(9 gms)</h6>
          <p>Just 9 grams for all-day comfort.</p>
        </div>
        <span><a id="fea55" href="javascript:void(0);">✖</a></span>
      </div>
    </li>
  </ul>
</div>
<div id="main_mobile" class="main-container_mobile">
  <ul id="first_row" class="grid-wrapper1_mobile">
    <li>
      <div class="fea_cap">
        <h4>Dual Pairing</h4>
        <span><a id="fea-mobile1" href="javascript:void(0);">KNOW MORE&nbsp;→</a></span>
      </div>
      <div class="card-overlay-mobile1">
       <div class="card-overlay-inner text-center text-white">
          <h6 class="text-white mb-2">Dual Pairing</h6>
          <p>Connect to two devices simultaneously for effortless switching.</p>
        </div>
        <span><a id="fea-mobile11" href="javascript:void(0);">✖</a></span>
      </div>
    </li>
  </ul>
  <ul class="grid-wrapper2_mobile">
    <li>
      <div class="fea_cap">
        <h4>Premium silicon finish</h4>
        <span><a id="fea-mobile2" href="javascript:void(0);">KNOW MORE&nbsp;→</a></span>
      </div>
      <div class="card-overlay-mobile2">
        <div class="card-overlay-inner text-center text-white">
          <h6 class="text-white mb-2">Premium silicon finish</h6>
          <p>Skin-friendly Silicon finish for a premium, smooth & comfortable touch.</p>
        </div>
        <span><a id="fea-mobile22" href="javascript:void(0);">✖</a></span>
      </div>
    </li>
    <li>
      <div class="fea_cap">
        <h4>IPx4 Water Resistant &<br> Sweatproof</h4>
        <span><a id="fea-mobile3" href="javascript:void(0);">KNOW MORE&nbsp;→</a></span>
      </div>
      <div class="card-overlay-mobile3">
         <div class="card-overlay-inner text-center text-white">
          <h6 class="text-white mb-2">IPx4 Water Resistant &<br> Sweatproof</h6>
          <p>Built to handle drizzle and sweat.</p>
        </div>
        <span><a id="fea-mobile33" href="javascript:void(0);">✖</a></span>
      </div>
    </li>
  </ul>
  <ul class="grid-wrapper3_mobile">
    <li>
      <div class="fea_cap">
        <h4>Light Weight<br>(9 gms)</h4>
        <span><a id="fea-mobile4" href="javascript:void(0);">KNOW MORE&nbsp;→</a></span>
      </div>
      <div class="card-overlay-mobile4">
        <div class="card-overlay-inner text-center text-white">
          <h6 class="text-white mb-2">Light Weight<br>(9 gms)</h6>
          <p>Just 9 grams for all-day comfort.</p>
        </div>
        <span><a id="fea-mobile44" href="javascript:void(0);">✖</a></span>
      </div>
    </li>
    <li>
      <div class="fea_cap">
        <h4>BT 5.3 & Voice<br> Assistance</h4>
        <span><a id="fea-mobile5" href="javascript:void(0);">KNOW MORE&nbsp;→</a></span>
      </div>
      <div class="card-overlay-mobile5">
        <div class="card-overlay-inner text-center text-white">
          <h6 class="text-white mb-2">BT 5.3 & Voice<br> Assistance</h6>
          <p>Enjoy stable connections and effortless voice activation with Google and Siri—all at your fingertips.</p>
        </div>
        <span><a id="fea-mobile55" href="javascript:void(0);">✖</a></span>
      </div>
    </li>
  </ul>
</div>

<style>
.main-container_desktop .grid-wrapper1_desktop{--auto-grid-min-size:16rem;display:grid;grid-gap:0.5rem;grid-template-columns:1fr 1fr;margin:0;padding:0;box-sizing:border-box;font-family:Montserrat,sans-serif;margin-bottom:.5rem}
.main-container_desktop .grid-wrapper2_desktop{--auto-grid-min-size:16rem;display:grid;grid-gap:0.5rem;grid-template-columns:1fr 1fr 1fr;margin:0;padding:0;box-sizing:border-box;font-family:Montserrat,sans-serif;margin-bottom:1rem}
.main-container_desktop .grid-wrapper1_desktop li{background-color:#ef4444;color:#fff;font-size:24px;list-style-type:none;padding:7rem 2rem 1.5rem;text-align:center;text-transform:capitalize;font-weight:600;border-radius:6px;height:300px}
.main-container_desktop .grid-wrapper2_desktop li{background-color:#ef4444;color:#fff;font-size:18px;list-style-type:none;padding:5rem 2rem;text-align:center;text-transform:capitalize;font-weight:600;border-radius:6px;height:230px;line-height:1.5rem}
.main-container_desktop{margin:0 auto;width:60%;padding:2rem 1rem}
.grid-wrapper1_desktop li:first-child{background:url('https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Dual_pairing_Feature_1.webp?v=1723300753');background-size:cover;background-repeat:no-repeat;background-position:50% 85%;position:relative;overflow:hidden}
.grid-wrapper1_desktop li:nth-child(2){background:url('https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Silicon_finish_Feature_2.webp?v=1723300753');background-size:cover;background-repeat:no-repeat;background-position:50% 20%;position:relative;overflow:hidden}
.grid-wrapper2_desktop li:first-child{background:url('https://cdn.shopify.com/s/files/1/0804/5762/9975/files/BT_Voice_Asis_Feature_3.webp?v=1723300754');background-size:cover;background-repeat:no-repeat;background-position:50% 100%;position:relative;overflow:hidden}
.grid-wrapper2_desktop li:nth-child(2){background:url('https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Water_asisitance_Feature_4_v2.webp?v=1723540306');background-size:cover;background-repeat:no-repeat;background-position:50% 50%;position:relative;overflow:hidden}
.grid-wrapper2_desktop li:nth-child(3){background:url('https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Light_weight_Feature_5_v2.webp?v=1723540307');background-size:cover;background-repeat:no-repeat;background-position:50% 50%;position:relative;overflow:hidden}
.fea_cap{position:absolute;bottom:20px}
.fea_cap h4{margin-block-start:1.33em;margin-block-end:0;text-align:left;color: #fff;}
.fea_cap span a{font-size:10px;color:#fff;text-decoration:none;display:flex;line-height:40px;letter-spacing:1px;align-items:center}
#main_mobile{display:none}
@media only screen and (max-width:768px){
.main-container_mobile{width:100%}
#main_desktop{display:none}
#main_mobile{display:block}
.main-container_mobile .grid-wrapper1_mobile{--auto-grid-min-size:16rem;display:grid;grid-gap:0.5rem;grid-template-columns:1fr;margin:0;padding:0 10px;box-sizing:border-box;font-family:Montserrat,sans-serif;margin-bottom:1rem}
.main-container_mobile .grid-wrapper1_mobile li{background-color:#ef4444;color:#fff;font-size:24px;list-style-type:none;padding:7rem 1.5rem 1.5rem;text-align:center;text-transform:capitalize;font-weight:600;border-radius:6px;height:280px}
.grid-wrapper1_mobile li:first-child{background:url('https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Dual_pairing_Feature_1.webp?v=1723300753');background-size:cover;background-repeat:no-repeat;background-position:50% 85%;position:relative;overflow:hidden}
.grid-wrapper1_mobile li:nth-child(2){background:url('https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Silicon_finish_Feature_2.webp?v=1723300753');background-size:cover;background-repeat:no-repeat;background-position:50% 20%;position:relative;overflow:hidden}
.main-container_mobile .grid-wrapper2_mobile{--auto-grid-min-size:16rem;display:grid;grid-gap:0.8rem;grid-template-columns:1fr 1fr;margin:0;padding:0 10px;box-sizing:border-box;font-family:Montserrat,sans-serif;margin-bottom:1rem}
.main-container_mobile .grid-wrapper2_mobile li{background-color:#ef4444;color:#fff;font-size:18px;line-height:1.5rem;list-style-type:none;padding:7rem 1.5rem 1.5rem;text-align:center;text-transform:capitalize;font-weight:600;border-radius:6px;height:250px}
.grid-wrapper2_mobile li:first-child{background:url('https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Silicon_finish_Feature_2.webp?v=1723300753');background-size:cover;background-repeat:no-repeat;background-position:50% 85%;position:relative;overflow:hidden;padding: 0px 20px;width:225px}
.grid-wrapper2_mobile li:nth-child(2){background:url('https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Water_asisitance_Feature_4_v2.webp?v=1723540306');background-size:cover;background-repeat:no-repeat;background-position:50% 20%;position:relative;overflow:hidden}
.main-container_mobile .grid-wrapper3_mobile{--auto-grid-min-size:16rem;display:grid;grid-gap:0.8rem;grid-template-columns:1fr 1fr;margin:0;padding:0 10px;box-sizing:border-box;font-family:Montserrat,sans-serif;margin-bottom:1rem}
.main-container_mobile .grid-wrapper3_mobile li{background-color:#ef4444;color:#fff;font-size:18px;line-height:1.5rem;list-style-type:none;padding:7rem 1.5rem 1.5rem;text-align:center;text-transform:capitalize;font-weight:600;border-radius:6px;height:250px}
.grid-wrapper3_mobile li:first-child{background:url('https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Light_weight_Feature_5_v2.webp?v=1723540307');background-size:cover;background-repeat:no-repeat;background-position:50% 85%;position:relative;overflow:hidden}
.grid-wrapper3_mobile li:nth-child(2){background:url('https://cdn.shopify.com/s/files/1/0804/5762/9975/files/BT_Voice_Asis_Feature_3.webp?v=1723300754');background-size:cover;background-repeat:no-repeat;background-position:15% 20%;position:relative;overflow:hidden;width:250px}
.card-overlay-mobile1{padding:20px;position:absolute;left:0;top:100%;width:100%;height:100%;z-index:1;transition:all 350ms cubic-bezier(0, 0, .2, 1);display:flex;align-items:center;background:#3B3B3B}
.card-overlay-mobile1 span{position:absolute;top:20px;right:20px;background:#fff;padding:0px;border-radius:50%;width:40px;height:40px}
.card-overlay-mobile1 span a{color:#323232;text-decoration:none;font-size:20px}
.card-overlay-mobile2{padding:20px;position:absolute;background:rgba(0,0,0,.5);left:0;top:100%;width:100%;height:100%;z-index:1;transition:all 350ms cubic-bezier(0, 0, .2, 1);display:flex;align-items:center;background:#3B3B3B}
.card-overlay-mobile2 span{position:absolute;top:20px;right:20px;background:#fff;padding:8px 0px;border-radius:50%;width:30px;height:30px}
.card-overlay-mobile2 span a{color:#323232;text-decoration:none;font-size:20px}
.card-overlay-mobile3{padding:20px;position:absolute;background:rgba(0,0,0,.5);left:0;top:100%;width:100%;height:100%;z-index:1;transition:all 350ms cubic-bezier(0, 0, .2, 1);display:flex;align-items:center;background:#3B3B3B}
.card-overlay-mobile3 span{position:absolute;top:20px;right:20px;background:#fff;padding:8px 0;border-radius:50%;width:30px;height:30px}
.card-overlay-mobile3 span a{color:#323232;text-decoration:none;font-size:20px}
.card-overlay-mobile4{padding:20px;position:absolute;background:rgba(0,0,0,.5);left:0;top:100%;width:100%;height:100%;z-index:1;transition:all 350ms cubic-bezier(0, 0, .2, 1);display:flex;align-items:center;background:#3B3B3B}
.card-overlay-mobile4 span{position:absolute;top:18px;right:20px;padding-top: 5px;background:#fff;border-radius:50%;width:25px;height:25px}
.card-overlay-mobile4 span a{color:#323232;text-decoration:none;font-size:20px}
.card-overlay-mobile5{padding:20px;position:absolute;background:rgba(0,0,0,.5);left:0;top:100%;width:100%;height:100%;z-index:1;transition:all 350ms cubic-bezier(0, 0, .2, 1);display:flex;align-items:center;background:#3B3B3B}
.card-overlay-mobile5 span{position:absolute;top:18px;right:20px;background:#fff;padding:5px;border-radius:50%;width:25px;height:25px}
.card-overlay-mobile5 span a{color:#323232;text-decoration:none;font-size:20px}
.card-overlay-mobile1 h6, .card-overlay-mobile2 h6, .card-overlay-mobile3 h6, .card-overlay-mobile4 h6, .card-overlay-mobile5 h6 {margin-block-start: 1.33em;margin-block-end: 0;text-align: left;color: #fff;font-size: 18px;font-weight: 600;}   
}
.card-overlay{padding:50px;position:absolute;left:0;top:100%;width:100%;height:100%;z-index:1;transition:all 350ms cubic-bezier(0, 0, .2, 1);display:flex;align-items:center;background:#3B3B3B}
.card-overlay span{position:absolute;top:20px;right:20px;background:#fff;padding:0px;border-radius:50%;width:40px;height:40px}
.card-overlay span a{color:#323232;text-decoration:none;font-size:20px}
.card-overlay2{padding:50px;position:absolute;background:rgba(0,0,0,.5);left:0;top:100%;width:100%;height:100%;z-index:1;transition:all 350ms cubic-bezier(0, 0, .2, 1);display:flex;align-items:center;background:#3B3B3B}
.card-overlay2 span{position:absolute;top:20px;right:20px;background:#fff;padding:0px;border-radius:50%;width:40px;height:40px}
.card-overlay2 span a{color:#323232;text-decoration:none;font-size:20px}
.card-overlay3{padding:20px;position:absolute;background:rgba(0,0,0,.5);left:0;top:100%;width:100%;height:100%;z-index:1;transition:all 350ms cubic-bezier(0, 0, .2, 1);display:flex;align-items:center;background:#3B3B3B}
.card-overlay3 span{position:absolute;top:20px;right:20px;background:#fff;padding:8px 0;border-radius:50%;width:30px;height:30px}
.card-overlay3 span a{color:#323232;text-decoration:none;font-size:20px}
.card-overlay4{padding:20px;position:absolute;background:rgba(0,0,0,.5);left:0;top:100%;width:100%;height:100%;z-index:1;transition:all 350ms cubic-bezier(0, 0, .2, 1);display:flex;align-items:center;background:#3B3B3B}
.card-overlay4 span{position:absolute;top:20px;right:20px;background:#fff;padding:8px 0;border-radius:50%;width:30px;height:30px}
.card-overlay4 span a{color:#323232;text-decoration:none;font-size:20px}
.card-overlay5{padding:20px;position:absolute;background:rgba(0,0,0,.5);left:0;top:100%;width:100%;height:100%;z-index:1;transition:all 350ms cubic-bezier(0, 0, .2, 1);display:flex;align-items:center;background:#3B3B3B}
.card-overlay5 span{position:absolute;top:20px;right:20px;background:#fff;padding:8px 0;border-radius:50%;width:30px;height:30px}
.card-overlay5 span a{color:#323232;text-decoration:none;font-size:20px}
.card-overlay h6, .card-overlay2 h6, .card-overlay3 h6, .card-overlay4 h6, .card-overlay5 h6 {margin-block-start: 1.33em;margin-block-end: 0;text-align: left;color: #fff;font-size: 18px;font-weight: 600;}  
.card-overlay-inner p{    text-align: left;
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
    font-family: 'Poppins';
    line-height: 20px;}
</style>

<script>
  $(document).ready(function () {
    $("#fea1").click(function () {
      $(".card-overlay").css("top", "0");
    });
    $("#fea11").click(function () {
      $(".card-overlay").css("top", "100%");
    });
    $("#fea2").click(function () {
      $(".card-overlay2").css("top", "0");
    });
    $("#fea22").click(function () {
      $(".card-overlay2").css("top", "100%");
    });
    $("#fea3").click(function () {
      $(".card-overlay3").css("top", "0");
    });
    $("#fea33").click(function () {
      $(".card-overlay3").css("top", "100%");
    });

    $("#fea4").click(function () {
      $(".card-overlay4").css("top", "0");
    });
    $("#fea44").click(function () {
      $(".card-overlay4").css("top", "100%");
    });

    $("#fea5").click(function () {
      $(".card-overlay5").css("top", "0");
    });
    $("#fea55").click(function () {
      $(".card-overlay5").css("top", "100%");
    });
    $("#fea-mobile1").click(function () {
      $(".card-overlay-mobile1").css("top", "0");
    });
    $("#fea-mobile11").click(function () {
      $(".card-overlay-mobile1").css("top", "100%");
    });
    $("#fea-mobile2").click(function () {
      $(".card-overlay-mobile2").css("top", "0");
    });
    $("#fea-mobile22").click(function () {
      $(".card-overlay-mobile2").css("top", "100%");
    });
    $("#fea-mobile3").click(function () {
      $(".card-overlay-mobile3").css("top", "0");
    });
    $("#fea-mobile33").click(function () {
      $(".card-overlay-mobile3").css("top", "100%");
    });
    $("#fea-mobile4").click(function () {
      $(".card-overlay-mobile4").css("top", "0");
    });
    $("#fea-mobile44").click(function () {
      $(".card-overlay-mobile4").css("top", "100%");
    });
    $("#fea-mobile5").click(function () {
      $(".card-overlay-mobile5").css("top", "0");
    });
    $("#fea-mobile55").click(function () {
      $(".card-overlay-mobile5").css("top", "100%");
    });
  }); 
</script>