<div class="dyn-center">

<!-- <a id="btn-dyn1"  class="btn-submit-requests">Technical Information</a> -->
<a id="btn-dyn2" href="#b_template--20627092865303__83a135b9-30ff-430d-a7ed-dd7da7224ef0-accor_item-1" class="btn-reset" type="reste">FAQ's</a>

<a id="btn-dyn2" href="#shopify-section-template--22100092977431__16988598234be05800" class="btn-reset" type="reste">Reviews</a>

  </div>
<style>
  .dyn-center {
    margin: 0px auto;
    display: table;
}
  #btn-dyn1{    font-size: 16px;
    overflow: visible;
    margin: 10px;
    vertical-align: middle;
    width: auto;
    padding: 5px 25px;
    border-radius: 40px;
    letter-spacing: 1px;
    font-weight: 600;      
}
  #btn-dyn:hover{color:#fff}

   #btn-dyn2{    font-size: 16px;
    overflow: visible;
    margin: 10px;
    vertical-align: middle;
    width: auto;
    padding: 5px 25px;
    border-radius: 40px;
    letter-spacing: 1px;
    font-weight: 600;      
}
  #btn-dyn2:hover{color:#fff}

   #btn-dyn3{font-size: 16px;
    overflow: visible;
    margin: 10px;
    vertical-align: middle;
    width: auto;
    padding: 5px 25px;
    border-radius: 40px;
    letter-spacing: 1px;
    font-weight: 500;     
}
  #btn-dyn3:hover{color:#fff}
  
.btn-submit-requests{
      background: #25313c;
    border: none;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    float: left;
    letter-spacing: -.09em;
    line-height: 25px;
    padding: 0 20px;
    border: 2px solid #25313c;
}
.btn-reset{
      /* background: #25313c; */
    border: none;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    float: left;
    letter-spacing: -.09em;
    line-height: 25px;
    padding: 0 20px;
    border: 2px solid #25313c;
  background: #25313c;
}

  @media only screen and (max-width: 768px) {
    #btn-dyn1 {
    margin: 0 0 0;
    width: 100%;
}

    #btn-dyn2 {
    margin: 10px 0px 0px;
    width: 100%;
}
    
  }

  
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<script>
// $(function() {
//     $('a[href*=\\#]:not([href=\\#])').on('click', function() {
//         var target = $(this.hash);
//         target = target.length ? target : $('[name=' + this.hash.substr(1) +']');
//         if (target.length) {
//             $('html,body').animate({
//                 scrollTop: target.offset().top
//             }, 1000);
//             return false;
//         }
//     });
// });
</script>

