<section>
  <div class="grid-flexA">
    
    <div class="col col-text">
      <div class="Aligner-itemA">
        <h2>
          IPX4 Water Resistant & Sweatproof
        </h2>
        <p>Sweatproof Assurance! NG EarSafe boasts an IPx4 rating, shielding it from splashes and sweat. Elevate your workouts and outdoor escapades without a worry.</p>
        
      </div>
    </div>

<div class="col col-image" style="background-size: cover;background-image: url(https://cdn.shopify.com/s/files/1/0804/5762/9975/files/water-resis.webp?v=1700484104);">
    </div>
    
  </div>

  
</section>

<style>

.col-text{height:35em}
.grid-flexA{
  /* background: radial-gradient(rgba(255, 255, 255, 1), rgba(241, 241, 241, 1) 100%); */
      background: #f3f1ff;
display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;flex-direction:row;-webkit-flex-direction:row;-webkit-flex-wrap:wrap;-webkit-justify-content:space-around}
.col{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1}
.col-left{-webkit-box-ordinal-group:-1;-webkit-order:-1;-ms-flex-order:-1;order:-1}
.col-text{display:flex;align-items:center;justify-content:center}
.Aligner-itemA{width:100%}
.Aligner-itemA p{margin-bottom:20px;padding:0px 0px 0px 150px}  
.Aligner-itemA h2 {margin-bottom: 20px;padding: 20px 0px 0px 150px;}  
.col-image{border: 1px solid #00000038;border-radius: 15px 50px 30px;scale: 0.8;background-position:center center;background-repeat:no-repeat}
@media (max-width:640px){
.grid-flexA{height:50em;padding-top: 40px;display:-webkit-flex;-webkit-flex-direction:column;flex-direction:column-reverse}
.col{order:vertical}
.col-left{-webkit-box-ordinal-group:0;-webkit-order:0;-ms-flex-order:0;order:0}
.col-text div p{text-align: center;padding:1em}
.Aligner-itemA p {margin-bottom: 0px;}  
.Aligner-itemA{width:90%}
.Aligner-itemA h2{padding: 0;font-size:25px;text-align:center}  
.text-aircon p{font-size:15px !important;text-align:left!important}  
.image-aircon img{max-width:80%;max-height:100%}  
.col-image{border: 0;border-radius: 0;scale: unset;background-position:center center;background-repeat:no-repeat}    
}

.cont-aircon{display:flex;align-items:center;}
.image-aircon img{max-width:100%;max-height:100%}
.text-aircon{font-size:20px;padding-left:20px}
.text-aircon p{font-size:20px;padding:20px 40px 10px 0}  
</style>