 <div class="container-m">
      <div class="card-m" id="card-m">
        <div class="content">
          <div class="widgets_div">
            <div class="icon_div">
              <span><img loading="earger" width="auto" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/safety_icon_b82687e7-85fd-48f8-8996-f33e32b56747.svg?v=1695820225"></span>
            </div>
            <div class="text_div">
              <span>Safety</span><br>
              <dl id="desc">Be aware of your surroundings</dl>
            </div>
          </div>
        </div>
        <img class="card-m-img" loading="earger" width="auto" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Safety.webp?v=1726730383" alt="Safety">
      </div>
      <div class="card-m">
        <div class="content" style="background: #00A5B4;">
          <div class="widgets_div">
            <div class="icon_div">
              <span><img loading="earger" width="auto" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/comfort_icon_2cba6b4b-d5df-44a2-82b1-b89da87cee43.svg?v=1695820224"></span>
            </div>
            <div class="text_div">
              <span style="color: #25313C;">Comfort</span><br>
              <dl id="desc">Prevents ear from canal damages</dl>
            </div>
          </div>
        </div>
        <img class="card-m-img" loading="earger" width="auto" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Comfort.webp?v=1726730384" alt="Comfort">
      </div>
      <div class="card-m">
        <div class="content">
          <div class="widgets_div">
            <div class="icon_div">
              <span><img loading="earger" width="auto" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/connectivity_icon_0974e425-00a1-4a91-a5b1-b608dfc4627d.svg?v=1695820224"></span>
            </div>
            <div class="text_div">
              <span>Connectivity</span><br>
              <dl id="desc">Latency Free Bluetooth Connectivity</dl>
            </div>
          </div>
        </div>
        <img class="card-m-img" loading="earger" width="auto" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Why_Ng_Connectivity.webp?v=1719504033" alt="Connectivity">
      </div>


    <div class="card-m">
        <div class="content">
          <div class="widgets_div">
            <div class="icon_div">
              <span><img loading="earger" width="auto" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Group_41.svg?v=1708533187"></span>
            </div>
            <div class="text_div">
              <span>Aid For Hearing Impaired</span><br>
              <dl id="desc">Your ears can now hear</dl>
            </div>
          </div>
        </div>
        <img class="card-m-img" loading="earger" width="auto" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/Why_Ng_Hearing_impaired.webp?v=1719504033" alt="Hearing Aid">
      </div>
   
   
    </div>


  <style>
     .container-m{display:flex;justify-content:center;align-items:center;height:50vh}
@media only screen and (max-width:768px){
.container-m{flex:1;display:flex;flex-wrap:nowrap;overflow-x:auto}
#card-m{margin:10px 10px 10px 950px}
.card-m{flex:auto;flex-shrink:0;max-width:300px}
}
.card-m{width:300px;background-color:#fff;box-shadow:0 2px 6px rgba(0,0,0,.1);border-radius:10px;overflow:hidden;margin:10px}
.card-m .card-m-img{width:100%;height:270px;object-fit:cover}
.card-m .content{padding:20px 0px 20px 5px;background:#25313c}
.card-m .title{font-size:24px;margin-bottom:10px}
.card-m .description{font-size:14px;color:#777;margin-bottom:20px}
.card-m .button{padding:10px 20px;background-color:#ff6f00;color:#fff;border:none;border-radius:5px;cursor:pointer}
.card-m .button:hover{background-color:#ff3d00}
.widgets_div .icon_div{display:inline-block;margin-left:15px;vertical-align:middle}
.widgets_div .icon_div span img{width:30px}
.widgets_div .text_div{display:inline-block;margin-left:5px;vertical-align:middle}
.widgets_div .text_div span{color:#00a5b4;font-size:16px;font-weight:600}
.widgets_div .text_div span+span{color:#747f85;font-size:11px}
#desc{margin-block-start:0em;margin-block-end:0em;color:#e7e7e7;letter-spacing: 0.2px;font-size:10px}
    
    </style>


    