<div class="t4s-container" style="text-align:center;margin-top:20px;margin-bottom:20px;"><div timeline="" hdt-reveal="slide-in" class="t4s-top-heading t4s-text-center" observed=""><div timeline="" hdt-reveal="slide-in" class="t4s-top-heading-heading t4s_des_title_1 t4s-text-center" observed="">
                                <h3 class="t4s-section-title t4s-title"><span>NG EarSafe OpenBuds</span></h3></div></div>
<p>Built for all-day comfort and an immersive listening experience, these premium open-ear earbuds keep you moving without the risk of ear infections. With IPX4 waterproofing and sweatproof durability, they’re the perfect companion for workouts, workdays, and everything in between.
</p>
</div>  

<div class="wizup-app sg-slider sg-floatingpop"
      data-shopname="6b1880-3.myshopify.com"
      data-widgetname="Video Gallery - OpenBuds"
      data-productid=""
      data-widgettype="reels"
      data-collectionid=""
      data-templatename="index"
    >
    </div>

<div class="t4s-container" style="text-align:center;margin-top:20px;margin-bottom:20px;"><div timeline="" hdt-reveal="slide-in" class="t4s-top-heading t4s-text-center" observed=""><div timeline="" hdt-reveal="slide-in" class="t4s-top-heading-heading t4s_des_title_1 t4s-text-center" observed="">
                                <h3 class="t4s-section-title t4s-title"><span>NG EarSafe Lite</span></h3></div></div>
<p>Featherweight just 24g, LITE Open Ear Wireless Headphones is built for all-day comfort—whether you're deep in a binge-watch session or out exploring. With dual pairing, you can seamlessly switch between devices, making multitasking effortless.</p>

</div>  

<div class="wizup-app sg-slider sg-floatingpop"
      data-shopname="6b1880-3.myshopify.com"
      data-widgetname="Video Gallery - Lite"
      data-productid=""
      data-widgettype="reels"
      data-collectionid=""
      data-templatename="index"
    >
    </div>    

<div class="t4s-container" style="text-align:center; margin-top:20px;margin-bottom:20px;"><div timeline="" hdt-reveal="slide-in" class="t4s-top-heading t4s-text-center" observed=""><div timeline="" hdt-reveal="slide-in" class="t4s-top-heading-heading t4s_des_title_1 t4s-text-center" observed="">
                                <h3 class="t4s-section-title t4s-title"><span>NG EarSafe Pro</span></h3></div></div>
<p>Engineered for adventure, PRO Open Ear Bone Conduction Headphones are built for the elements with an IP68 waterproof rating—perfect for swimming. Plus, with 8GB of built-in storage, your favorite music and podcasts are always with you, no phone needed.</p>

</div>  

<div class="wizup-app sg-slider sg-floatingpop"
      data-shopname="6b1880-3.myshopify.com"
      data-widgetname="Video Gallery - PRO"
      data-productid=""
      data-widgettype="reels"
      data-collectionid=""
      data-templatename="index"
    >
    </div>    

<div class="t4s-container" style="text-align:center;margin-top:20px;margin-bottom:20px;"><div timeline="" hdt-reveal="slide-in" class="t4s-top-heading t4s-text-center" observed=""><div timeline="" hdt-reveal="slide-in" class="t4s-top-heading-heading t4s_des_title_1 t4s-text-center" observed="">
                                <h3 class="t4s-section-title t4s-title"><span>NG EarSafe Comm</span></h3></div></div>
<p>Work smarter with CoMM—the ultimate headset for long calls and work from home. The adjustable noise-canceling boom mic delivers uninterrupted conversations, and its glasses-friendly design ensures day long comfort for professionals on the go.</p>

</div>  

<div class="wizup-app sg-slider sg-floatingpop"
      data-shopname="6b1880-3.myshopify.com"
      data-widgetname="Video Gallery - Comm"
      data-productid=""
      data-widgettype="reels"
      data-collectionid=""
      data-templatename="index"
    >
    </div>       