<header class="hero">
  <div class="content">
    <h2> Air Conduction Technology</h2><br>
    <!-- <button class="cta">Learn More</button> -->
<p>Open-ear headphones are designed to let you hear your surroundings while you enjoy audio content. They achieve this by not blocking your ear canal, offering a unique balance between immersive sound and awareness of your environment. This approach is elegantly complemented by air conduction technology, which utilizes the natural flow of air to deliver sound, further enhancing the open-ear listening experience without compromising on audio quality or situational awareness.</p>    
  </div>
</header>

<section>
  <div class="grid-flex">
    <div class="col col-image" style="background-image: url('https://cdn.shopify.com/s/files/1/0804/5762/9975/files/air-con.gif?v=1701719836');">
    </div>
    <div class="col col-text">
      <div class="Aligner-item">
        <p>Instead of traditional headphones that encase or plug your ears, air conduction headphones present an innovative alternative. They project audio through the air around your ear, directly leveraging natural acoustics without obstructing the ear canal. This method allows users to enjoy device audio while keeping their ears unencumbered, providing a comfortable and natural listening experience. Air conduction technology is particularly beneficial for those who prefer a more natural sound experience or need to remain alert to their environment, offering a seamless blend of engagement with both their audio content and the world around them.
        </p>
      </div>
    </div>
  </div>
</section>

<div class="wrapper">

 	 <h2  style="text-align: center;padding: 20px 10px;border-bottom: 1px solid #cacaca;--text-cl:#ffffff;--text-fs:30px;--text-fw:500;--text-lh:20px;--text-ls:0px;--text-mgb:3px;--text-fs-mb:20px;--text-lh-mb:20px;--text-ls-mb:0px;--text-mgb-mb:5px;">Benefits of Air Conduction Technology</h2>

  
<section class="columns-area">
	<div class="column">

      <img width="auto" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/va1.webp?v=1712751489" alt="Image1">
      
		<h4>WORKOUT</h4>
		<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ratione architecto necessitatibus cum praesentium dolor totam voluptatibus recusandae?</p> -->

    </div>
	
	<div class="column">
		<img width="auto" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/va2.webp?v=1712751840" alt="Image1">
      
		<h4>YOGA</h4>
		<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ratione architecto necessitatibus cum praesentium dolor totam voluptatibus recusandae?</p> -->

    </div>
  
  <div class="column">
		<img width="auto" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/train.webp?v=1712752010" alt="Image1">
      
		<h4>OUTDOOR ACTIVITIES</h4>
		<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ratione architecto necessitatibus cum praesentium dolor totam voluptatibus recusandae?</p> -->

  </div>
  
   <div class="column">
		<img width="auto" height="auto" src="https://cdn.shopify.com/s/files/1/0804/5762/9975/files/all-d.webp?v=1712752305" alt="Image1">
      
		<h4>LONG CALLS</h4>
		<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ratione architecto necessitatibus cum praesentium dolor totam voluptatibus recusandae?</p> -->

   </div>
	
</section>	
</div>	

{% section 'featured-collection'  %}

{% render 'air-conduction-content' %}

<style>
.hero{position:relative;z-index:1;height:80vh;max-height:1080px;background-image:url('https://ngearsafe.com/cdn/shop/files/ng-bg2.webp?v=1702406078');background-size:cover;background-attachment:fixed;background-position:center;color:#fff;display:table;width:100%;text-align:center;text-shadow:1px 2px 4px rgba(0,0,0,.2)}
.hero:after{content:"";position:absolute;top:0;left:0;right:0;bottom:0;background:linear-gradient(to bottom right, #03414b, #25313c);opacity:.9;z-index:-1}
.hero h1{font-size:4em;margin-bottom:1rem}
.hero p{font-size:2em;max-width:80%;margin-left:auto;margin-right:auto;font-weight:300}
.hero .content{display:table-cell;vertical-align:middle}
.feature{background-image:url(http://unsplash.it/g/1280/722);background-attachment:fixed;background-size:cover;background-position:center;position:relative;z-index:1;color:#fff;text-align:center}
.feature:after{content:"";position:absolute;top:0;left:0;right:0;bottom:0;background:linear-gradient(to bottom right,#032201,#006f6f);opacity:.9;z-index:-1}
.content h2 {font-size: 6rem;color: #bddfff;text-shadow: 0px 8px #25313c;}  
.content p {font-size: 1.3em;}
  video {
    position:relative;
    object-fit: contain;
    width: 100%;
    /* height: 100%; */
    clip-path: inset(0px 0px);
    /* border-radius: 10px; */
}

@media only screen and (max-width:768px){
.hero{height:88vh;}  
.content h2 {font-size: 4rem !important;color: #bddfff;text-shadow: 0px 8px #25313c;}  
.content p {font-size: 1em !important;max-width: 88%;} 
}  

.col-text {
  height:30em;
}
.grid-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  flex-direction: row; 
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-around;
}
.col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.col-left {
  -webkit-box-ordinal-group:-1;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}
.col-text{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #21333d;
}
.Aligner-item {
  width: 90%;
}

  .Aligner-item{color: #fff;
    font-size: 16px;}
  
.col-image {
  background-size: cover;
  background-position:center center;
}

@media (max-width: 640px) {
  .grid-flex {
    height: 40em;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column; 
   }
  
  .col {
    order:vertical;
  }
  .col-left {
    -webkit-box-ordinal-group:0;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }
  .col-text div p {
    padding: 1em;
  }
  .Aligner-item {
    width: 100%;
    font-size: 12px;
  }
}

.wrapper {
	padding: 5px;
	max-width: 1200px;
	width: 100%;
	margin: 20px auto;
}
  
.columns-area {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 5px 0;
}

.column {
	flex: 1;
  text-align:center;
	/* border: 1px solid gray; */
	margin: 2px;
	padding: 10px;
	&:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }
	
}

.column h4{margin-top:15px;}
.column img {border-radius: 10px;}  

@media screen and (max-width: 980px) {
  .columns-area .column {
		margin-bottom: 5px;
    flex-basis: 40%;
		&:nth-last-child(2) {
			margin-right: 0;
		}
		&:last-child {
			flex-basis: 100%;
			margin: 0;
		}
	}
}

@media screen and (max-width: 680px) {
	.columns-area .column {
		flex-basis: 100%;
		margin: 0 0 5px 0;
	}

  .columns-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

  .column h4 {
    font-size: 15px;
}
  
}

  
</style>